[2016-09-30 21:14] pkoutoupis opened #1 "Mark each RapidDisk volume with a UUID and have it work intelligently with the backup/restore process of admin utility."
**Migrated from http://bugs.rapiddisk.org/view.php?id=18:**

[2016-10-19 20:30] marcelhuberfoo opened #2 "latest (4.3) rapiddisk module does not build on Linux 4.8.x"
When dkms compiling the module, I get the following errors:

[code]
As I currently do not have much time to investigate or correct, I leave it to you.

Thank you in advance for looking at it.

[2016-10-22 20:26] bberberov opened #5 "Kernel modules do not automatically rebuild during system update on OpenSUSE Tumbleweed"
Kernel modules do not automatically rebuild during system updates on OpenSUSE Tumbleweed.

[code]

[code]

[2016-10-24 09:56] rjt opened #6 "Does RapidDisk prevent writing past the end of the RamDisk?"
Seems that by default, one can write much more to a traditional Linux RamDisk than what is allocated to it.  IE:  One can write 4GB of data to a 1MB RamDisk.  No errors seem to be generated until many times the size of the RamDisk is written.  Does RapidDisk solve that?

[low network performance between Citrix XenServer and Linux iSCSI storage](https://serverfault.com/questions/806496/low-network-

[2016-10-25 13:07] pkoutoupis commented on #6
Like any other block device in the kernel, RapidDisk assumes a fixed [virtual] sector count. If you application attempts to seek or read/write beyond the last sector, the kernel will return an ENOSPC or "no more space left on the device." So, to answer your question directly: Yes, RapidDisk does solve that.

It is also worth noting that RAM is consumed as it is used. What I mean is, if you allocat

[2016-10-25 13:08] pkoutoupis commented on #5
I will investigate, thank you.

[2016-10-25 13:09] pkoutoupis commented on #2
I will be adding support for the 4.8 (and 4.9) kernels shortly. Thank you.

[2016-10-26 12:45] #6 closed

[2016-10-28 19:26] pkoutoupis commented on #2
commit da6633129150a89ddb4f0fc147f4f91b31593c14
Author: Petros Koutoupis <petros@petroskoutoupis.com>
Date:   Fri Oct 28 14:23:34 2016 -0500

    Adding 4.8 & 4.9 kernel support and releasing 4.4

[2016-10-28 19:26] #2 closed

[2016-10-29 15:57] pkoutoupis commented on #5
Can you please retest the DKMS build with 4.4?

[2016-10-30 00:28] bberberov commented on #5
Just did an upgrade to module 4.4.  The module built, but my backup kernel modules were removed.  If I had to boot to an older kernel for some reason, `rapiddisk` would be unavailable.  OpenSUSE keeps at least 1 backup.

I'll wait for the next kernel update and see what happens.

[2016-11-01 18:57] pkoutoupis commented on #5
I completely understand where you are coming from but this is a tough one. The %preun of the spec file [completely] removes all instances of the old version of the module, and the %postun makes sure it is all cleaned up.

Now on an updated install, you should definitely see a fresh build of the latest (via %post). And all following kernel updates will trigger this as well.

The idea is, if you rem

[2016-11-12 09:52] JvdW opened #13 "Crashes while using it in a VM"
Its not stated explicitly but I think it should work when used inside a VM. I tried that multiple times but they all end with a lockup of the VM.
Tried:
- Centos-6.8 VM on oVirt (KVM) using virtio, rapiddisk-4.4 -> lockup
- Centos-7.2 VM on oVirt (KVM) using virtio, rapiddisk-4.4 -> lockup
- Fedora-22, rapiddisk-4.4 using real disk -> no lockup
Steps to reproduce:
- create a Centos VM using kvm/li

[2016-11-12 21:32] bberberov commented on #5
I think we should figure out how to package RapidDisk "the OpenSUSE way".  Although both OpenSUSE and RHEL/Fedora are RPM based, they are different.  I don't know much about RPM, but I think the spec file needs to generate multiple packages.  At least one for the userspace tools and one for the kernel modules.  The modules one needs to integrate with OpenSUSE and their built-in management of out-o

[2016-11-13 15:00] pkoutoupis commented on #13
Is there a stack dump on tty1 or in dmesg?

[2016-11-13 15:23] pkoutoupis commented on #5
If you do not mind. I will close this ticket, since the original issues has since been resolved. And I would request that you open an enhancement ticket to cover the potential update to auto module builds.

[2016-11-13 15:23] #5 closed

[2016-11-13 20:47] bberberov opened #14 "Implement OpenSUSE Kernel Module Packaging"
The current OpenSUSE package does not automatically rebuild the modules during a kernel update.

The package should be updated to support OpenSUSE mechanisms for kernel module management.

See: https://en.opensuse.org/Kernel_Module_Packages

[2016-11-13 20:51] bberberov commented on #5
I cannot seem to tag it as "Enhancement".  Must me a permissions thing in GitHub.

[2016-11-14 08:01] JvdW commented on #13
On 13-11-2016 16:00, Petros Koutoupis wrote:

No, problem is that the VM becomes completely unresponsive, cpu usage
goes to 100% and only way to get back in is to power it down meaning
loss of all unwritten data. So messages looks like the attached file.
Logged in this morning and did:
- rapiddisk --attach 256 # VM has 2G RAM and is idle
- rapiddisk --cache-map rd0 /dev/vda1
- mount /dev/mapper/rc

[2016-11-14 08:47] JvdW commented on #13
On 13-11-2016 16:00, Petros Koutoupis wrote:

So, right after I send the last message I had an idea. What if its
related to how the disk is presented to the VM. There are 2 way and the
default is VirtIO and gives you a /dev/vda, changing that to VirtIO-SCSI
gives you a /dev/sda.
I just did that and no problems :-)
Look like the driver implementation of VirtIO is 'buggy', bad news is
that this is t

[2016-11-14 13:54] pkoutoupis commented on #13
Thank you very much for all of this and for your initial investigation. Note, there is nothing different being done in the RapidDisk code for SCSI devices. The code is designed to work with all block devices (loop, NVMe, etc.). I will need to recreate your setup locally over here, to capture a kdump (for crash debugging). But in the meanwhile, can you see if there is a difference between the follo

[2016-11-14 15:39] JvdW commented on #13
On 14-11-2016 14:54, Petros Koutoupis wrote:

Same.
root@rpmrepo01:/ # ll /mnt/rc_vdb1/
total 1536020
drwx------. 2 root root      16384 Nov 14 15:59 lost+found
-rw-r--r--. 1 root root 1572864000 Nov 14 16:14 ssd.test.file
root@rpmrepo01:/ # fio /usr/share/doc/fio-2.0.13/examples/ssd-test
seq-read: (g=0): rw=read, bs=4K-4K/4K-4K/4K-4K, ioengine=libaio, iodepth=4
rand-read: (g=1): rw=randread, bs=4

[2016-11-14 21:27] pkoutoupis commented on #13
Thank you for all of this. Again, very soon I will stand up a VM and attempt to reproduce this. I have one additional request: can you rerun the test with a dm-linear mapping on top of the vda device?
http://tldp.org/HOWTO/LVM-HOWTO/createlv.html

Based on the stack dump you provided above, it would seem that the part showcasing the problem is in the asynchronous callback handler of rapiddisk-cach

[2016-11-15 09:44] JvdW commented on #13
On 14-11-2016 22:27, Petros Koutoupis wrote:

Done as asked but the same problem, after starting the test it will make
the VM unresponsive and after about 20-30 secs it will disconnect and
then I see 100% CPU usage in oVirt and I can only hard poweroff the VM.

Log of what I did is attached.

Joop

root@rpmrepo01:/ # umount /mnt/rc_vdb1
root@rpmrepo01:/ # fdisk -l

Disk /dev/vda: 48.3 GB, 48318382

[2016-11-15 11:58] ttpaus commented on #13
I have the same problem using Ubuntu 16.04 and the 4.8 and 4.8.4 kernel that lockup the computer when running the  rapiddisk --cache-map command.
The 4.7.5 kernel works fine using the same Ubuntu 16.04 computer.

ttpaus

[2016-11-15 14:47] pkoutoupis commented on #13
Thank you. Everyone's feedback is greatly appreciated. Although in my request, I was hoping to see the results of an Linear LVM volume **without** rapiddisk-cache. Just mount the LVM volume and run fio to it.

[2016-11-15 15:23] JvdW commented on #13
On 15-11-2016 15:47, Petros Koutoupis wrote:

Sorry, but that just works. / is mounted on a lvm volume since its a
standard Centos-6 installation.

Joop

[2016-11-18 02:36] bberberov opened #15 "Kernel Panic on cache mapped to an unformatted volume"
I was able to trigger a kernel panic reliably with the following steps:

0. I have a disk with a GPT label and a BIOS Boot partition.
1. Create a volume with `gdisk` but do not format it.  For example `sda11`.
2. `rapiddisk --attach 256`
3. `rapiddisk --cache-map rd0 /dev/sda11`
4. **Kernel Panic**

I'm running and updated OpenSUSE Tumbleweed.

[code]

[code]

I'll see if the panic is somewhere in

[2016-11-18 02:43] bberberov opened #16 "Admin utility should work with /dev/disk/ symlinks"
RapidDisk should be able to use symlinks in `/dev/disk` as arguments.

For example, this should work:

[code]

[2016-11-18 17:06] pkoutoupis commented on #15
That doesn't seem to make any sense, because the mapping is all at the block level, irrespective of the drive format. I will try to reproduce locally but I am more curious as to if this may be 4.8+ specific (since there were changes made for that kernel in the last release).

[2016-11-18 17:08] pkoutoupis commented on #16
Seems like a reasonable request.

[2016-11-19 17:01] pkoutoupis commented on #16
Actually, I am not experiencing this problem. See code example below....

[code]

Now, what I believe is happening in your case is that the volume that goes by the label "home" is already mounted. If it is mounted, then you will be unable to map the volume via device mapper. This ioctl error is not limited to rapiddisk-cache but will be universal with any other device-mapper module.

A quick test

[2016-11-19 18:08] pkoutoupis opened #17 "Is anyone still using RapidDisk on openSUSE 13 or even making use of the RESTful API?"
To help minimize my support workload, I was hoping to slowly start removing a distribution version or two starting in the next release. I wanted to quickly survey the users out there with the following question: Is anyone currently running RapidDisk on openSUSE 13 OR have you moved onto the Leap releases?

Also, are people out there actually using the RESTful API?

[2016-11-19 20:13] pkoutoupis commented on #15
Can you pull from the latest and retest....

[code]

[2016-11-20 18:00] pkoutoupis commented on #13
ttpaus,

Please pull from the latest source code. I believe I addressed the 4.8 kernel bug.

[2016-11-20 18:01] pkoutoupis commented on #13
Joop,

I am looking into this now....
I should have something soon.

[2016-11-20 18:20] ttpaus commented on #13
It still crashes the 4.8.5 kernel. Tested using Ubuntu 16.04 with kernel 4.8.5 (Tested on the host. No VM)
Work perfectly on kernel 4.7.5
ttpaus

[2016-11-20 18:46] pkoutoupis commented on #13
ttpaus,

Can you provide the output of the the following commands:

$ sudo modinfo rapiddisk
$ sudo modinfo rapiddisk-cache

[2016-11-20 19:20] ttpaus commented on #13
I found the error.
The 4.8.5 kernel refused to upgrade the rapiddisk module so it was still 4.4. Tried reinstall multiple times.
I dont have time to find out why so I upgraded to the the latest kernel 4.8.8, rebuild and reinstalled rapiddisk and it worked perfectly.
Thanks for the help
ttpaus

[2016-11-20 21:35] bberberov commented on #16
Couldn't test.  Triggered another kernel panic.  Probably related to bug #15.  Will verify later and close.

[2016-11-20 21:37] bberberov commented on #15
Do you have a beta repo?  It would be easier for me to verify.  I am not confident the build environment on this system is set up correctly.

[2016-11-20 21:54] pkoutoupis commented on #15
I still have my tumbleweed VM (x86_64), if you give me some time, I can run a zypper update and then create an RPM. Would this be easier?

[2016-11-22 02:55] pkoutoupis commented on #15
OK. Make sure that DKMS is installed....
http://downloads.rapiddisk.org/pub/beta/rapiddisk-4.5-1.osuse_tumbleweed.x86_64.rpm

[2016-11-22 20:46] bberberov commented on #15
Just tested it.  I still get a kernel panic.

[2016-11-22 20:55] pkoutoupis commented on #15
Hmmm. Just to humor me, can you provide the output of modinfo rapiddisk and modinfo rapiddisk-cache?

This doesn't make any sense. It works without issue in my Tumbleweed setup.

[2016-11-22 22:11] bberberov commented on #15
At first, `modprobe` was not working.  The module was just built and not installed.

[code]

It looks like two different kernel panics:
_____
![20161122_151137](https://cloud.githubusercontent.com/assets/7432115/20544021/afc6f74e-b0cd-11e6-889d-a8910afa6687.jpg)
_____
![20161122_151632_10](https://cloud.githubusercontent.com/assets/7432115/20544027/bb287cb6-b0cd-11e6-8739-d5286cc0b73e.jpg)

![2016

[2016-11-22 23:35] pkoutoupis commented on #15
**OS**
[code]

**Kernel**
[code]

**SCSI device**
[code]

**Cache Mappings**
[code]

**Formatted with Ext4 and mounted:**
[code]

Again, I am not sure why you are experiencing such issues.....

Can you do me a favor and provide the following for your sda drive (substitute below):

[code]

[2016-11-23 01:22] pkoutoupis commented on #15
I even did the same thing after setting the volume to GPT:

[code]

**Cache Mapping**

[code]

**Formatted and mounted:**

[code]

[2016-11-23 05:07] bberberov commented on #15
I think you have fixed it.

[code]

However, it took me more than ~70 tries to get the modules properly installed.  I think they build fine.
[code]
But `dkms` does not install them correctly.  This is the unsuccessful result:
[code]
Successful result:
[code]

`dkms` tells me that `dracut` exits with error 1 and I believe it does some kind of rollback.  I don't want to try it again to get the conso

[2016-11-23 05:11] bberberov commented on #16
Tested it on an unmounted volume and it works.  See bug #15.

[2016-11-23 05:11] #16 closed

[2016-11-23 05:16] bberberov commented on #17
The RESTful API makes me install PHP and a web server on OpenSUSE Tumbleweed.  The defaults (PHP and web server selected) were also not optimal, in my opinion.  I think the RESTful API could be reimplemented with a smaller dependency, later.

[2016-11-23 11:28] pkoutoupis commented on #15
That multiple rapiddisk volumes stuff is my fault. I forgot to tweak one file before doing the rpmbuild. I can always rebuild the rpm with the tweak.

[2016-11-23 11:30] pkoutoupis commented on #15
That multiple rapiddisk volumes stuff is my fault. I forgot to tweak one file before doing the rpmbuild. I can always rebuild the rpm with the tweak.

As for the dkms stuff, I guess it is more motivation to look into the other module build system. :-D

[2016-11-23 13:45] pkoutoupis commented on #15
I will close this issue on the basis that you validated that it now works. Any DKMS related stuff can continue with the #14 enhancement work.

[2016-11-23 13:45] #15 closed

[2016-11-23 13:53] pkoutoupis commented on #17
Honestly, I have been debating on either removing the API completely **OR** leveraging libmicrohttpd alongside libjansson and write a separate minimal daemon to listen on a specific port.

[2016-11-23 23:29] pkoutoupis commented on #13
Joop,

I have got some good news: I reproduced it and am not root causing it.

[2016-11-24 09:03] JvdW commented on #13
On 24-11-2016 0:29, Petros Koutoupis wrote:

I thought it wouldn't be rapiddisk since /dev/sda works and /dev/vda
didn't but now you need to convince upstream that there is a bug :-)

I'll await what happens next and in the meantime will use /dev/sda when
possible.

Thanks for updateing,

Joop

[2016-11-24 12:25] pkoutoupis commented on #13
Oops. I meant to say "now root causing it" and not "not root causing it."

Anyway, it seems that virtio has issues with the type of spinlocks I am using. I need to figure out why.

[2016-11-24 14:13] pkoutoupis commented on #13
Joop,

I pushed a branch that is using a different type of spinlock. In my tests, it works. Can you please validate that this is the case for you as well. If you are not familiar with the process, clone the master repo (with git) and switch to the branch: defect/virtio_spinlocks.

`$ git checkout  defect/virtio_spinlocks`

Then run a "make" and insmod the rapiddisk-cache.ko module in the module/ d

[2016-11-24 15:28] JvdW commented on #13
On 24-11-2016 15:13, Petros Koutoupis wrote:

Will try to do that today or tomorrow if no disasters show up.

Joop

[2016-11-25 21:29] JvdW commented on #13
Just ran the fio test to completion using virtio :-)

[2016-11-25 21:31] pkoutoupis commented on #13
Joop,

That is great news. Thank you very much for the feedback. I should have something official pushed shortly. When I do, I will close this ticket.

[2016-11-25 21:36] pkoutoupis commented on #17
So, I have been staging 5.0. In it, I can rid of the dependency to PHP and a web server. Instead, I am linking libjansson to provide an addition config listing operation in JSON format.

Also, since I posted my question about openSUSE 13 here and on G+ and Facebook with no reply, I will assume that no one is really using the specific version of the distribution and if they are, I will rebuild it a

[2016-11-25 21:36] #17 closed

[2016-11-29 14:32] pkoutoupis commented on #13
Officially merged into Release 5.0

commit d31d2e6822ae9d73dee15167b64af1584e2c08f0
Author: Petros Koutoupis <petros@petroskoutoupis.com>
Date:   Thu Nov 24 07:58:40 2016 -0600

    Issue 13: Crashes while using it in a VM

[2016-11-29 14:32] #13 closed

[2017-08-03 07:59] marcelhuberfoo opened #19 "Compilation fails on Linux kernels >= 4.12"
Due to kernel changes/cleanup, compilation of the rapiddisk kernel module fails with the following output:

[code]
According to this [mailing list entry](https://www.spinics.net/lists/raid/msg57009.html) the flag can completely be removed.

[2017-08-25 14:40] pkoutoupis commented on #19
@marcelhuberfoo,
Please see my notes on your pull request.

[2017-08-29 19:11] #19 closed

[2017-08-29 19:12] pkoutoupis commented on #19
Addressed with commit: 354c7596f1cf85b3e3240129e8d9d126ec25c522

[2017-10-12 13:14] ferdavs opened #21 "Cannot cache-map device"
I am trying to cache my _/opt_ which is on other disk (/dev/sda4)
I did unmount sda4

sudo rapiddisk --cache-map rd0 /dev/sda4

gives this error:
**device-mapper: reload ioctl on rc-wt_sda4 failed: Invalid argument
Command failed
Error. Unable to create map. Please verify all input values are correct.**

[2017-10-13 21:02] pkoutoupis commented on #21
What does syslog say? Does it say something along the lines of "resource busy" coming from device mapper?

If so, you need to umount the volume, create the mapping, and then mount the newly created device mapper node in /dev/mapper/.

[2017-10-16 13:23] ferdavs commented on #21
I did these and it worked as you said:

umount -f /dev/sda4
rapiddisk --attach 2048
rapiddisk --cache-map rd0 /dev/sda4
mount /dev/mapper/rc-wt_sda4

[2017-10-16 14:58] ferdavs commented on #21
Worked until reboot
syslog:
 **device-mapper: table: 253:0: rapiddisk-cache: rapiddisk-cache: Disk device lookup failed
 device-mapper: ioctl: error adding target to table**

[2017-10-16 15:09] ferdavs commented on #21
sorry for this.
it was not unmounted properly

[2017-10-16 15:09] #21 closed

[2017-12-18 17:07] syadnom opened #22 "rapiddisk --cache-map on boot/fstab (ubuntu)"
this works:
umount -f /dev/sda4
rapiddisk --attach 2048
rapiddisk --cache-map rd0 /dev/sda4
mount /dev/mapper/rc-wt_sda4

but to get this on reboot I'm having to do a startup script in /etc/rc.local

Is there a more elegant way?  ie, via fstab?

Thanks.

[2017-12-18 17:11] syadnom commented on #22
that wasn't very detailed.

so, to clarify, I'm wondering if there are some startup/shutdown scripts or other niceties to make this more safe.  What happens when you shutdown without --flush rddev?  data loss or does it flush on unmount?

[2017-12-18 17:17] syadnom opened #23 "writeback mode?"
I have a use-case where writeback mode is ideal.  To clarify so we both know what I mean, I want to consider the write complete when it's written to the rdX device then write that to disk async.

I'd also like to see a timed flush and delay write.

here is the scenario

many small writes come in, enough to overwhelm a spindled disks random writes
some reads come in and that hurts random writes eve

[2017-12-18 17:30] pkoutoupis commented on #22
Unfortunately, there is no elegant way to do this. rc.local is what most folks rely on to "auto" create/mount everything on system boot up. Also, the --flush command is used only when you want to destroy/truncate the data on the actual RAM drive. It is not advisable to use it with a cache mapping. Because of all of the variations that could exist (i.e. RAM drive size, source device, mount point, e

[2017-12-18 18:51] syadnom commented on #22
I misunderstood “flush” in this context.  What I was thinking was a
traditional “write everything outstanding to disk right now”

On Mon, Dec 18, 2017 at 10:30 AM Petros Koutoupis <notifications@github.com>
wrote:

[2017-12-20 20:13] pkoutoupis commented on #22
As it stands, every write sent to the cache always persists to the backing store (i.e. the source device). RapidDisk-Cache only supports two modes for write operations: Pass-through and Write-Around. There is no case in which cached data will not be on disk, so a flush is not necessary in its current release. However, if a write-back cache were implemented, then a proper "flush" would be required

[2017-12-20 20:13] #22 closed

[2017-12-20 22:13] syadnom commented on #23
"Traditional RAM is volatile and by enabling a write-back caching mode
without some form of not losing cached data in RAM would result in user
data loss or possibly corruption"
Absolutely true, but there are valid and common use cases where a small
amount of data loss isn't a big deal.  ANY kind of data logging this
basically applies to because the power loss that would loose 30 seconds of
data al

[2017-12-22 18:06] pkoutoupis commented on #23
In my experience, XFS also suffers with small file data, more specifically on reads. But I imagine that this is not the typical I/O profile hitting these disks anyway. They are probably very write heavy and read less frequently (on an-as-needed basis).

Well, it doesn't yet but let me give this some thought and see how much work it would take (i.e. to batch writes at set intervals).

[2017-12-22 20:04] syadnom commented on #23
These aren’t terribly small files, just many. Write heavy, many directories
build up over time.  I would estimate XFS 2. better for this particular
work load.

On Fri, Dec 22, 2017 at 11:06 AM Petros Koutoupis <notifications@github.com>
wrote:

[2018-01-05 01:45] bberberov opened #24 "Adding openSUSE repo from YaST GUI fails"
Just tried to add the v5 repo and I'm getting the following error.  This was the URL: http://downloads.rapiddisk.org/pub/releases/5/opensuse42/

[2018-01-05 02:06] bberberov commented on #24
Looks like you cannot disable the GPG check through the GUI.  We should build a proper (YaST) openSUSE repo.

[2018-01-09 16:42] pkoutoupis commented on #24
@bberberov,

I haven't commented on this issue yet but that is partly because I do not know if I want to continue supporting the package repos. The upkeep with every official release, especially as it pertains to the latest and greatest release of each respective distro, is quite consuming. So, I have been weighing the option recently, on whether I should continue doing this or just retire them.

[2018-01-13 07:02] bberberov commented on #24
I think having official packages helps with exposure/popularity/adoption.  Yes, it is a lot of work.  I'm just thinking, of the people interested in trying RapidDisk, how many don't try it because there isn't a ready built package available.

It'd be nice if third-party repos adopt the package, since those devs have more experience with their respective distros, but in the meantime, you may want t

[2018-04-02 16:41] BobbyBabes opened #25 "Compiling for Arch Linux ARMv8."
@pkoutoupis Do you foresee any roadblocks with compiling Rapiddisk for [Arch Linux ARM](https://archlinuxarm.org) (ARMv8) ?
I'm waiting for the RockPro64 board to be released (later this month hopefully). And it would influence my decision about whether to go for a 2 or 4GB version of the board.

Thanks already.

[2018-04-02 17:43] pkoutoupis commented on #25
I used to build this suite for the ARMv7 without issue, although the boards I was using were about 1GB in size. I do not do anything architecture/DIMM size specific, so I doubt that you will see any obvious impacts of running this code on your box with the 4GB. If you do, then I will be more than happy to help you out and get whatever issues resolved.

[2018-04-03 09:56] BobbyBabes commented on #25
That sounds wonderful. :) And thanks for offering help in case it's needed.

[2018-04-04 14:39] pkoutoupis commented on #25
Not a problem. Just open a new issue if you stumble on anything. Best of luck!

[2018-04-04 14:39] #25 closed

[2018-06-09 21:15] Adyel opened #27 "fatal error: jansson.h: No such file or directory"
Hello,

When I try to compile the code. I get this error. How can I resolve this? NB: I am trying this program for the first time. So, still not sure how it works. What does `RapidDisk-Cache` actually does can you please explain in an easier way?

Thanks for your Time :)

![image](https://user-images.githubusercontent.com/4653623/41196185-75432efc-6c5c-11e8-96d2-c24018dc57f7.png)

[2018-06-10 02:08] pkoutoupis commented on #27
The README of the package defines the library dependencies required to build this package.
* zlib
* libcryptsetup
* libjansson

Based on the error above, you are missing libjansson. Be sure you go to your distributions package repository and install not only the library but the developer packages (of all three) as well.

RapidDisk-Cache enable RapidDisk RAM drives as a front end Read Cache for slo

[2018-06-14 12:38] Adyel commented on #27
Yes, you may close it. Sadly all these dependencies are not available in my distribution repository. I really don't want to maintain them manually. I tried the pre-built binary. It did not work out that well. So, I opted for `preload`.

Thanks a lot for your time. Really appreciate it :+1:

[2018-06-14 12:38] #27 closed

[2018-06-14 20:12] pkoutoupis commented on #27
I understand. Thank you!

[2018-08-07 19:14] gidoBOSSftw5731 opened #28 "cant map external HDD"
So I got your program to run, and I have a drive I want to speed up, but I keep on getting a error:
[code]
and I dont know why.
[code]

[2018-08-07 19:19] pkoutoupis commented on #28
It will not work on an already mounted device. Is this the case? Please verify with the df or mount command. You would first need to umount /dev/sdh1 and then map the device and then remount the newly registered /dev/mapper/<cache name>

[2018-08-07 19:30] gidoBOSSftw5731 commented on #28
I definitely unmounted it before doing work on it, if I hadnt I would know from the following error:
[code]

[2018-08-07 19:38] pkoutoupis commented on #28
You are right. Anyway, what does the syslog show? The device mapper module should be printing something during the time the programs exits.

[2018-08-07 19:42] pkoutoupis commented on #28
Also, what kernel are you using (uname -a)?

[2018-08-07 20:34] gidoBOSSftw5731 commented on #28
uname:
[code]
syslog:
[code]

full syslog: https://imagen.click/i/773c31

[2018-08-07 21:03] pkoutoupis commented on #28
FYI, I am using the exact same kernel on the exact same Ubuntu on my local machine.

The above rapiddisk-cache errors shows up when the module is unable to locate or access the disk device. Code in question:
--------------------
        if (rc_get_dev(ti, argv[0], &dmc->disk_dev,
            dmc->disk_devname, ti->len)) {
                ti->error = "rapiddisk-cache: Disk device lookup failed";

[2018-08-07 21:13] gidoBOSSftw5731 commented on #28
Yes, even after a partprobe.

[2018-08-09 13:44] pkoutoupis commented on #28
If you give me until later this afternoon, I can provide you with a debug driver to load and run the same test on. It will be written to dump more messages in the syslog.

[2018-08-09 14:29] gidoBOSSftw5731 commented on #28
Ok, I wont be able to be there for 2 weeks due to vacation but I can prob remote into it.

[2018-08-09 19:51] pkoutoupis commented on #28
Try this one out and post the output of syslog or dmesg when trying to map the cache to the external drive.
[rapiddisk-cache.zip](https://github.com/pkoutoupis/rapiddisk/files/2275711/rapiddisk-cache.zip)

[2018-08-10 18:38] pkoutoupis commented on #1
After much time spent thinking about this, I don't know how relevant such a feature would be in current and future deployments. I will be closing the issue and if others believe in otherwise, we can definitely reopen for discussion.

[2018-08-10 18:38] #1 closed

[2018-08-27 18:08] gidoBOSSftw5731 commented on #28
Sorry for my delay, I had PC problems while I was away, How should I go about installing this?

[2018-08-27 18:13] pkoutoupis commented on #28
No worries. The easiest way may be to cd into the module directory and cp or mv the original rapiddisk-cache.c file to something like rapiddisk-cache.c.orig and then take the file from the ZIP and cp or mv into the module directory. Then run make. Make sure you rmmod the older rapiddisk-cache and insmod (not modprobe) the newly compiled rapiddisk-cache.ko.

Share the output in either dmesg or from

[2018-08-27 19:09] gidoBOSSftw5731 commented on #28
Same error when I tried to add the disk, heres the dmesg and syslog
Full Syslog: https://imagen.click/i/a76f64 (rapiddisk happened around Aug 27 14:25:49)
Full Dmesg: https://imagen.click/i/576a1a
[code]

[2018-08-27 19:14] pkoutoupis commented on #28
For some reason I am unable to access the full syslog or dmesg. Can you verify that they are accessible on your end?

[2018-08-27 19:26] gidoBOSSftw5731 commented on #28
Theyre both accessible to me, but theyre here too.

[576a1a.txt](https://github.com/pkoutoupis/rapiddisk/files/2325312/576a1a.txt)
[a76f64.txt](https://github.com/pkoutoupis/rapiddisk/files/2325313/a76f64.txt)

[2018-08-27 19:46] pkoutoupis commented on #28
One of the lines that I added was this:

The rapiddisk-cache.c (during a mapping sequence of events eventually calls this device mapper routine: dm_get_device() which fails and returns with an error code 16. This maps to the following:

Can we double check to make sure that the volume sdh1 is not mounted? Ubuntu is weird sometimes in that it will automount a volume which does not properly show as

[2018-08-27 21:05] gidoBOSSftw5731 commented on #28
The log was taken a few minutes after the test, I did a `lsof +f -- /dev/sdh1`, killed all of the related PID's, did a `umount /dev/sdh1`, tested it, then remounted it, I'm not sure how else I could accomplish this.

[2018-08-29 00:51] gidoBOSSftw5731 commented on #28
If you want a slightly more close-to-mine setup, load up a file on it (like move your .local to it or open a txt on it,) fuser -k all of it, then umount it.

[2018-09-01 15:40] pkoutoupis commented on #28
I am sorry. I cannot reproduce. I am on the exact same kernel with the exact same Ubuntu. I attach an external Ext4 formatted block device which immediately gets automounted. Per your instructions. I even moved my .local and opened many text files on it which I immediately killed with the fuser -k to the mount point. This was followed by a umount.

No issues mapping/unmapping the removable block d

[2018-09-01 19:51] gidoBOSSftw5731 commented on #28
sure, can you show how that can be done?

On Sat, Sep 1, 2018 at 3:40 PM Petros Koutoupis <notifications@github.com>
wrote:

[2018-09-02 14:35] pkoutoupis commented on #28
Create a file of whatever size you choose (I chose 512M):

Create a loopback device:

Verify the existence of that loopback device:

Use that loopback device as the block device to enable the map to (/dev/loop3). It will be the size of the file created with dd (above).

When done and everything is unmapped, destroy the loopback device:

[2018-09-02 15:47] gidoBOSSftw5731 commented on #28
(for some reason) All of my loop devices are mounted and say `losetup:
/tmp/tmp.dat: failed to set up loop device: Device or resource busy`, some
online reading lead me to look at `sudo losetup -f /tmp/tmp.dat` which
leads me to believe it unmounted `loop2` (see below) so just pushing
through with that and it works!!.... could the drive be a problem?
[code]

[code]

On Sun, Sep 2, 2018 at 2:35 PM

[2018-11-03 13:58] pkoutoupis commented on #24
I have since stepped away from packaging RapidDisk for the various distros out in the wild. It was a ton of work to maintain development environments to build, package and test each release. I will fully support those who are willing to do this work in their preferred distros and am also willing to link to it from the project wiki.

[2018-11-03 13:58] #24 closed

[2018-12-21 09:01] Ruok2bu opened #30 "APT Repo Broken"
Followed instructions in "Ubuntu LTS 16.04" section of wiki.  Updating apt results in this error:

`gn:11 http://downloads.rapiddisk.org/pub/releases/5/ubuntu1604 stable/main all Packages
Ign:15 http://downloads.rapiddisk.org/pub/releases/5/ubuntu1604 stable/main Translation-en_CA
Ign:16 http://downloads.rapiddisk.org/pub/releases/5/ubuntu1604 stable/main Translation-en
Ign:11 http://downloads.rap

[2018-12-22 00:38] pkoutoupis commented on #30
Such an error would indicate corruption of a file, although it seems to work fine on an Ubuntu 16.04 installation. In theory, it should work since both are based off of Stretch.

[code]

I will install Debian 9.6 and try again.

[2018-12-22 01:05] pkoutoupis commented on #30
OK. I was able to reproduce on the same Debian release. Couple of thoughts here...

Debian was never officially supported but I am surprised that it will generate this issue.

Sometime ago, maybe version 5.1, I stopped building the prebuilt binaries and uploading them to the repos (for all platforms). It just became way too much work. I just updated the Wiki to show the section and support for thi

[2018-12-23 19:58] #30 closed

[2019-01-13 00:25] sadnblueish opened #31 "Compiling on ARM v7"
Hi,

While compiling on Raspberry Pi3b and Orange Pi Plus 2E I get error.
[output.txt](https://github.com/pkoutoupis/rapiddisk/files/2752679/output.txt)

Raspberry:
Linux DietPi 4.14.79-v7+ #1159 SMP Sun Nov 4 17:50:20 GMT 2018 armv7l GNU/Linux

OrangePi:
Linux orangepiplus2e 4.14.84-sunxi #3 SMP Sat Dec 1 07:18:41 CET 2018 armv7l armv7l armv7l GNU/Linux

[2019-01-13 03:34] pkoutoupis commented on #31
I will need to add support for the ARM architecture.

[2019-03-10 17:44] sadnblueish commented on #31
Hi,
Just following up on the request, did you get chance to add support for ARM?

[2019-03-11 18:37] pkoutoupis commented on #31
Thank you for following up. I will be sure to carve out some time in the next week or so and will start sending you code to test out once changes have been made.

[2019-03-14 16:50] pkoutoupis commented on #31
@sadnblueish: I was able to reproduce the compilation warnings/errors here. I should have a testable branch for you this weekend.

[2019-03-14 17:10] pkoutoupis commented on #31
OK, I lied. I have a branch available for testing now: `defect/armv7support` :-D

Please run a `make clean` from the root of the project, then `git pull` to get the latest, then `git checkout defect/armv7support` to get these changes. Rerun the `make` and let me know what happens.

[2019-03-14 17:17] sadnblueish commented on #31
Will get back soon!

[2019-03-14 19:12] sadnblueish commented on #31
Make process went successful on Raspberry Pi 3b. I did a quick cache-map and it was successful. Will test further later but seems fine.

[2019-03-14 19:33] pkoutoupis commented on #31
Awesome. I will run a few tests myself on non-ARM builds before officially merging. Thank you again!

[2019-03-16 03:03] pkoutoupis commented on #31
Tested on both x86_64 and armv7. Commit ID: bd38ab6441a60ae667fee02822e725f6e852a280

[2019-03-16 03:03] #31 closed

[2019-04-01 19:00] hiredgunhouse opened #33 "How do I create a ramdisk specific ramdisk (i.e. rd1) with specific size (i.e. 2048 MB)?"
See title.
It seem that when using --attach function I cannot specify rd1 as ramdisk that I want to create. Seems that rapiddisk is deciding which ramdisk will be created.
This makes it harder to create scripts that use rapiddisk.
Any advice?

[2019-04-02 00:54] pkoutoupis commented on #33
The reason why I prevent the user from naming the ram drive is to avoid a condition in where the user may accidentally name 2 drives the same name which could eventually lead to a kernel panic. The numbers are created in the order in which the attach command is issued and if you remove any in between a listing, a newly created drive will replace the name of a previously removed one. For instance,

[2019-04-08 15:04] hiredgunhouse commented on #33
Ok, I'll try to improve my scripting skills then :)
Thank you.

[2019-04-08 15:04] #33 closed

[2019-04-18 10:58] bartoszek commented on #22
Just speculating. Could it be achieved with `initcpio hook` ? Add custom `rapidram` hook between `base` and `init` that creates `rapiddisk` cache before `init` mounts `/usr`. Than we just need to mess a bit in `/etc/fstab` :thinking:

[2019-04-20 14:26] pkoutoupis commented on #22
I am not very familiar with this concept or process. Assuming that the root file system is mounted and that the rapiddisk (and dmsetup) binaries are accessible, I do not see why it cannot work.

[2019-04-20 15:39] bartoszek commented on #22
More or less... it's executed from initrd, before real root get mounted, to
benefit from rapiddisk on root partition too😁

sob., 20 kwi 2019, 16:26 użytkownik Petros Koutoupis '
notifications@github.com' via 33Mail <sender@mailer1.33mail.com> napisał:

[2019-07-01 02:55] Shub77 opened #35 "Should VERSION in this Makefile set to 6.0? dkms problem with versions already present"
In `module/Makefile`, `VERSION` is set to `5.2`. This gave me an error on `make dkms`, since a 5.2 version was already present in dkms. Furthermore, maybe you should `dkms remove` the module first anyway: this would prevent the `make dkms` command fail every time but the first.

    shub@WarHP:~/rapid6.0/rapiddisk-6.0$ sudo make dkms
    cd module; make dkms; cd ..
    make[1]: Entering directory

[2019-07-01 18:25] pkoutoupis commented on #35
You are correct. This should be addressed. Thank you for catching this. I can do it myself, or if you want to do a pull request to capture all of this, that would be great as well.

Yes, the Makefile should read 6.0. As for removing old versions, some mechanism will need to sweep through to see what is already installed.

[2019-07-04 13:58] pkoutoupis opened #36 "Enhance DKMS installation process"
Iterate through all DKMS installs of `rapiddisk` on the current kernel version and remove. Generate list using something like this:

[code]

[2019-07-04 14:00] pkoutoupis commented on #35
OK. I pushed the bug fix to master. It will address the Makefile error. As for the removal of older DKMS versions, I created a new ticket #36 to track it as a separate enhancement.

[2019-07-04 14:01] #35 closed

[2019-07-17 22:37] Shub77 commented on #36
Hi there, sorry for answering so late!

Have a look at my commit if you want, I tested it on Ubuntu 18.04.2.

This approach preserves/does not touch other versions of rapiddisk already installed via dkms and does not touch other rapiddisk insallations on different kernel versions than the current.

This is good cause you can experiment on the older kernel version before switching to the main one a

[2019-07-18 16:59] pkoutoupis commented on #36
I will test it out this weekend. Thank you!

[2019-07-23 22:31] Shub77 opened #38 "Enhancement: script for initramfs to init rapiddisk on boot and/or use it for boot volume"
Hi,
since I wanted to use rapiddisk for my boot partition/volume, I wrote what was needed by initramfs to add the modules and init them, and add a cache via rapiddisk command, during boot time. There is some work to do yet, but if you're interested I can pull them someway.

Regards

[2019-07-25 12:48] pkoutoupis commented on #36
This was addressed in https://github.com/pkoutoupis/rapiddisk/pull/37.

[2019-07-25 12:48] #36 closed

[2019-07-25 12:49] pkoutoupis commented on #36
Thank you very much @Shub77. You are always welcome to contribute as you see fit. It was a pleasure working with you.

[2019-07-25 12:50] pkoutoupis commented on #38
I would love to see these changes. I am not entirely sure how or where they will fit and if I have any reservations, I will be sure to let you know.

[2019-07-26 00:07] Shub77 commented on #36
Thanks!!

[2019-07-26 00:52] Shub77 commented on #38
Ok, I'll give you some more infos.
I wrote two (ultrasimple to be honest) scripts in respect of the `initramfs-tools` docs,: the first to add new/specific modules and/or executable files to the final `initrd` files (it is called hook script), and the second one to execute or do something at boot time (this one is called boot script), during one or more of the boot process phases.

The hook script

[2019-07-28 14:17] pkoutoupis commented on #38
I am trying to figure out how to make this one fit. I think it would be a good addition but does it make sense to place it in the source repository or would it make more sense to throw it into the project Wiki? I like the idea. And many have asked for something similar over the years.

[2019-08-06 14:00] msmith626 opened #39 "Question: Read-ahead Cache"
Hi,

Thank you for this great project! I've glanced at the kernel module sources and user-land utility, but it's not clear to me that this read cache is doing read-ahead -- is that accurate? If it does in fact do read-ahead of the source/backing device, how do you adjust the amount of read-ahead?

Thanks for your time.

--Marc

[2019-08-06 22:08] pkoutoupis commented on #39
Marc, hello!

You are very welcome and thank you very much for your interest. Sadly, the project does not support read-ahead. Only write-through and write-around are supported. I did however discover a misleading comment in the module/rapiddisk-cache.c file which states that it does. I corrected this in commit 246ac4df1d6c4c6e063f4ea79e9ffa2c433e8e86.

[2019-08-09 05:02] msmith626 commented on #39
Understood, thanks for the quick reply.

[2019-08-09 05:02] #39 closed

[2019-08-09 12:56] pkoutoupis commented on #39
Not a problem. Now, I don't really tamper with the parameter but you can modify a device's read ahead value under `sysfs`:

[code]

Its permissions are 644 for `root` and you should be able to `echo` a new value, should you choose to do so. Anyway, best of luck!

[2019-08-26 07:27] chabad360 commented on #38
I would add it as a feature, because it would probably make rapiddisk significantly more useful. Plus, it would make setup much easier.

[2019-09-10 17:19] msmith626 opened #40 "O_DIRECT Support?"
Hi,

Any plans or perhaps an implementation is already underway for O_DIRECT (direct I/O) support? When attempting to use this feature with 'fio' we of course get a failure:
fio: looks like your file system does not support direct=1/buffered=0
fio: destination does not support O_DIRECT

Thanks,

Marc

[2019-09-13 17:32] msmith626 commented on #40
@pkoutoupis Please disregard, I was specifying /dev/rc-wt_sdb instead of /dev/mapper/rc-wt_sdb so that was my bad! Closing...

[2019-09-13 17:32] #40 closed

[2019-09-13 17:43] pkoutoupis commented on #40
No worries. If you ever hit another issue, please do not hesitate to reach out and/or open up a new ticket.

[2020-04-07 07:07] ay-b commented on #38
Guys, any news on it?

@Shub77 Could you, please, be a little more specific on manual setup for your scripts? I don't get where I should put them.

Also there is no (more?) target for the "sudo make dkms". Is it fine or I'm missing something?

[2020-04-07 12:51] pkoutoupis commented on #38
@ay-b : It is now `make dkms-install` and `make dkms-uninstall`.

[2020-04-11 04:25] sky-sunny opened #41 "This program does not support Ubuntu or Debian?"
This program does not support Ubuntu18 or Debian10? Because Ubuntu, Debian not DM Mod.
I tried to test in the absence of DM mod, and the speed didn't change at all

[2020-04-11 07:01] #41 closed

[2020-04-11 18:52] AutoCultivo commented on #41
Suppor Ubuntu witout problems, I done twenty installs in Ubuntu ......

[2020-04-12 02:34] AutoCultivo commented on #41
Here have a Ubuntu instalation, look it:

root@plesk:~# wget http://www.digip.org/jansson/releases/jansson-2.12.tar.bz2
--2020-04-12 02:19:55--  http://www.digip.org/jansson/releases/jansson-2.12.tar.bz2
Resolving www.digip.org (www.digip.org)... 91.232.156.82, 91.232.156.81
Connecting to www.digip.org (www.digip.org)|91.232.156.82|:80... connected.
HTTP request sent, awaiting response... 200 OK
L

[2020-05-19 19:04] Shub77 commented on #38
Hey all,

sorry if I'm answering only now.

`update-initramfs` looks for some scripts when invoked. To semplify, there are two kind of them, one is called `hook script` and is intended to add (copy) modules and/or executables in the root of the final initrd.img file that will be written in `/boot/`, the other kind contains some commands to be executed at some point of the boot process.

If you lis

[2020-05-19 19:10] Shub77 commented on #23
Hi there,

I believe a write-back mode would be useful. It will be user's choice to undertake a risk in exchange of (much) higher speeds.

My 2 cents!

[2020-05-27 13:34] pkoutoupis commented on #38
Refer to @Shub77's PR #43 for work on this.

[2020-05-31 13:14] pkoutoupis commented on #38
Integrated in the the latest mainline version 6.1: https://github.com/pkoutoupis/rapiddisk/releases/tag/6.1

[2020-05-31 13:14] #38 closed

[2020-08-20 09:45] marcelhuberfoo opened #49 "kill_bdev disappeared from linux kernel >= 5.8"
Unfortunately big changes in linux kernel 5.8 also lead to some cleanup in sections regarding block devices.

The function [`kill_bdev`](https://elixir.bootlin.com/linux/v5.8.1/source/fs/block_dev.c#L78), required by [rapiddisk.c](https://github.com/pkoutoupis/rapiddisk/blob/master/module/rapiddisk.c) is not exported anymore in [fs.h](https://elixir.bootlin.com/linux/v5.7.16/source/include/linux/f

[2020-08-20 10:53] marcelhuberfoo commented on #49
An update on this, forgot to add the log output :innocent:

[code]

[2020-08-20 14:11] pkoutoupis commented on #49
@marcelhuberfoo: thank you for discovering this and filing the issue. I have been working on a branch with a very large overhaul of the software suite. I am debating on whether I patch this now in a minor update or just include it in that branch for the much larger.

I assume that I may need to replace kill_bdev(bdev) with __invalidate_device(bdev, true) or most likely with invalidate_bdev(bdev).

[2020-08-20 14:31] marcelhuberfoo commented on #49
As I can easily switch to using a 5.4.x LTS kernel for which the module compiles just fine, you can decide what fits best.

[2020-09-03 07:32] Augusto7743 opened #50 "Is possible enable write defer-write ?"
Hello rapiddisk creator.
I wait to use your software to write cache using an time latency in system and user data partitions formated with BTRFS.
Is possible enable write defer-write ? If yes possible what command to enable an write cache with defer-write latency time ?
Thanks for read.

[2020-09-03 15:29] pkoutoupis commented on #50
@Augusto7743 A deferred write would essentially be a write-back caching policy which rapiddisk is not designed to do at the moment, for a couple of reasons. The most important being that when write data is being cached to RAM, we cannot guarantee data integrity of the backing store in the event of a failure (i.e. power or other hardware).

Also, as it relates to btrfs, if btrfs is being used on mo

[2020-09-05 07:37] Augusto7743 commented on #50
Thanks for reply.
I understand the problems if using write-back caching, but if used with care help to be less write to disk.
In windows I had used Primocache configured to use deferwrite value infinite that only will flush write cache from RAM to disk when system is shutdown. That feature help to avoid repeated write in disk.
Using Primocache I had configured to use 256 MB for system partition. I

[2020-09-06 19:06] pkoutoupis commented on #50
Sadly, today, Rapiddisk does not have such a command option. I am not sure if it will in the near future either. The implementation would be quite complicated. I would recommend that you look at dm-writecache (https://www.admin-magazine.com/HPC/Articles/Linux-Writecache) and possibly dm-cache. There may be some parameters or tunables in its module that will help you achieve what you are trying to

[2020-10-11 18:42] pkoutoupis commented on #49
@marcelhuberfoo: I pushed the kernel change to version 7.0.0 which lives in my branch: feature/rapiddiskd_api_daemon. This branch marks a bit of an overhaul for the entire userspace utility and also adds a daemon to listen over the network for REST requests. It would be great if I had a second individual just checking things out and making sure it is stable.

In order to build, you will need the d

[2020-10-17 17:44] pkoutoupis commented on #49
Pushed into master and tagged in release 7.0.0.

[2020-10-17 17:44] #49 closed

[2020-10-24 14:36] goahe opened #52 "Alpine Linux compilation"
Eager to try your RapidDisk, I tried to compile it under Alpine Linux, but to no avail. I've tried including the kernel source in `$(CC)`, but unfortunately that wouldn't jibe either. I got stuck on:
[code]

I'm interested in this, because I'm trying to use a filesystem on a ram-drive that, I'm hoping, will deallocate memory upon deletion of files on the filesystem.

Any ideas?

[2020-10-24 15:19] goahe commented on #52
I'm an idiot... `apk add linux-headers`

[2020-10-24 15:19] #52 closed

[2020-10-24 16:26] pkoutoupis commented on #52
No worries. It happens to all of us. :-)

[2021-04-18 13:49] pkoutoupis opened #55 "rapiddiskd: GET /v1/listAllResources: Check that all properties exist in /sys/block/<device>"
rapiddiskd: GET /v1/listAllResources: Check that all properties exist in /sys/block/<device> such as model and especially vendor (which may not show up for NVMe or other memory devices.

[2021-05-07 08:13] Augusto7743 opened #56 "Rapiddisk module not loaded ... compile error ?"
Thanks very much for your rapiddisk.

I had compiled and tested in Ubuntu 20.04 and had worked correctly.
Now in Ubuntu 21.04 when trying to configure is displayed

sudo rapiddisk -l
Please ensure that the RapidDisk module is loaded and retry.

Any wrong in compiled module ?
When compiling using only "make" is displayed

make -C src
make[1]: Entering directory '/BTRFS/T1/RapidDisk/RapidDisk/src'
c

[2021-05-07 19:09] pkoutoupis commented on #56
Make sure you modprobe both rapiddisk and rapiddisk_cache after installation. If you'd like to have these modules load at boot time, there are some general distribution focused instructions provided here: https://github.com/pkoutoupis/rapiddisk/wiki/Frequently-Asked-Questions-(FAQ)#how-can-i-autoload-the-kernel-modules-at-boot-time

As for the compilation warning, it is a known issue that libmicro

[2021-05-07 20:02] Augusto7743 commented on #56
Thanks for your reply.
I has done exactly modproble in rapiddisk and rapiddisk-cache, but using "sudo rapiddisk –a 128" not is displayed any information about the command instead is displayed the option list how if had done rapiddisk -h
rapiddiskd.service is running.

[2021-05-08 16:07] pkoutoupis commented on #56
OK. I installed Ubuntu 21.04 and installed all the dependencies. Once I did, I did a fresh clone, make (still got the known libmicrohttpd warning) and make install. I manually loaded the modules and had no issues using the rapiddisk utility. It worked as expected with all options executed. I was able to create/remove/list and more my RAM devices. I am unable to reproduce the issue that you are see

[2021-05-12 08:19] Augusto7743 commented on #56
Creating an VirtualBox machine installed Lubuntu 21.04 64 bits and Rapiddisk compiled and installed correctly.
Rapiddisk source copied to /opt and used commands are

make
sudo make install
sudo modprobe rapiddisk
sudo modprobe rapiddisk-cache
sudo make dkms-install
sudo systemctl enable rapiddiskd.service
restarted system and
rapiddisk -a 128

rapiddisk module is working.
I had compiled the source

[2021-05-14 08:39] Augusto7743 opened #57 "Where to see information about how start rapiddisk module in system start ?"
Rapiddisk service is installed and starting in each system start.
command below works
sudo rapiddisk -a 128

but when trying to map and partition the command below not work
sudo rapiddisk -m rd0 -b /dev/sda2
/dev/sda2 is currently mounted. Please "umount" and retry.

sda2 and sda 3 are 2 partitions on disk that I want to use rapiddisk cache.
look how if the command need to be done in system startu

[2021-05-15 15:09] pkoutoupis commented on #56
@Augusto7743 I am glad that you were able to get it to work in your virtual environment. Unfortunately, writeback mode does not exist and will likely never exist because of the dangers of using a writeback cache with a volatile memory technology. So, at least for the foreseeable future, the modules and userspace utilities will only support writearound and writethrough modes. Who knows, as non-vola

[2021-05-15 15:09] #56 closed

[2021-05-15 15:16] pkoutoupis commented on #57
@Augusto7743:

The rapiddiskd daemon is intended to provide an API for external (and network) management. The full API is document both in the [source](https://github.com/pkoutoupis/rapiddisk/blob/master/doc/API.txt) and in the [wiki](https://github.com/pkoutoupis/rapiddisk/wiki/The-RESTful-API). That way, an external management system can manage the RAM drives and cache mappings across multiple s

[2021-05-24 04:41] krismoon commented on #23
I also have a use case where writeback would be very advantageous - essentially I don't care if the data is lost as long as when it is not lost (i.e. the most likely scenario is no server crash/reboot) it is able to cache the write quickly and allow the process to move on while it copies that data back to the disk.  In a nutshell I don't care if there is data loss because even if there was no data

[2021-05-28 17:10] pkoutoupis commented on #23
Instead of writing a writecache implementation into RapidDisk-Cache, I am considering on writing a wrapper into the CLI for dm-writecache and integrate that into the current stack. Note - I will not touch the dm-writecache code. I will only focus on adding the necessary pieces into userspace to have it play nice with the existing code.

[2021-06-06 18:46] pkoutoupis commented on #23
@krismoon (and others), I pushed code to [https://github.com/pkoutoupis/rapiddisk/tree/feature/writecache_cli_wrapper](https://github.com/pkoutoupis/rapiddisk/tree/feature/writecache_cli_wrapper). I still need to do some testing before merging it but it adds dm-writecache functionality to the userspace admin utility. This is what the command looks like:

[code]

Similar to any other cache mapping

[2021-06-07 12:31] pkoutoupis commented on #50
It seems like dm-writecache does offer something similar with the `autocommit_time` and `autocommit_blocks ` options:
[code]

[2021-06-07 12:31] #50 closed

[2021-06-07 12:38] pkoutoupis commented on #50
Note that a similar feature will be implemented as part of the https://github.com/pkoutoupis/rapiddisk/issues/23 work.

[2021-06-08 12:41] krismoon commented on #23
This is great thanks Petros 🙂

Was able to get a test running, two things I had trouble with, dkms didn't
work and once I got writes going I started to see cpu soft lock errors (not
100% it was because of the writecache)

Thanks,
Kris

On Sun., Jun. 6, 2021, 2:46 p.m. Petros Koutoupis, ***@***.***>
wrote:

[2021-06-08 14:26] pkoutoupis commented on #23
@krismoon Good catch. Does this change address the DKMS issue?
[code]

Also, as for the soft lock errors, even though I won't be changing dm-writecache code, I wonder if we can tune the dmsetup parameters. Can you please provide more details on the stack trace and the I/O profile hitting the cache mapping?

[2021-06-09 03:10] pkoutoupis commented on #57
I will be closing this ticket as there is already a published process to enable RapidDisk at system boot up (see comment above).

[2021-06-09 03:10] #57 closed

[2021-06-09 23:35] pkoutoupis commented on #23
@krismoon: it does not appear to be related to dm-writecache. If you cannot reproduce then I will not worry for now. Thank you for taking it for a test run. I will do more testing here and hopefully merge it soon (to master).

[2021-06-10 16:50] krismoon commented on #23
Glad to be of some small help - this additon to rapiddisk was a significant
help to me :)

Still working on error reproduction, my server had a hardware issue that
looks fixed now so trying again - in the meantime I did find this in the
kernel log when loading rapiddisk, not sure if its me that did set up wrong
or might indicate an issue.

Jun 10 12:40:18 x-ProLiant-DL380p-Gen8 kernel: [19467.2442

[2021-06-11 12:39] pkoutoupis commented on #23
You did not do anything wrong. Modern distributions build their kernels to sign all in-tree modules that were built during compilation. Seeing how this is an out-of-tree module and not signed by the same or similar process, the kernel will issue the above warning. Nothing changes in terms of kernel (or module) functionality as a result. This is nothing to be concerned about.

[2021-06-11 14:43] pkoutoupis opened #59 "RapidDisk-Cache does not support 4K Logical Drives"
Format of 4K volume:
[code]
/var/log/kern.log
[code]
Physical/logical block sizes:
[code]

[2021-06-12 11:13] Augusto7743 commented on #23
Instead of writing a writecache implementation into RapidDisk-Cache, I am considering on
"writing a wrapper into the CLI for dm-writecache and integrate that into the current stack"
You are saying dm-writeback will use rapiddisk ramdisk ?
Unhappily not is simple when starting the system attach an rapiddisk cache to mounted partition root and home.
Is simple to unmounted partitions.
I am a new Linu

[2021-06-12 11:30] Augusto7743 opened #60 "the log message "signature and/or required key missing - tainting kernel" is related to any problem ?"
When starting with rapiddisk installed and configured to load modules in startup is displayed the log lines below

[    8.918580] systemd[1]: Configuration file /etc/systemd/system/rapiddiskd.service is marked executable. Please remove executable permission bits. Proceeding anyway.
[    9.910348] kernel: rapiddisk: loading out-of-tree module taints kernel.
[    9.914160] kernel: rapiddisk: module

[2021-06-12 13:04] pkoutoupis commented on #60
Modern distributions build their kernels to sign all in-tree modules that were built during compilation. Seeing how this is an out-of-tree module and not signed by the same or similar process, the kernel will issue the above warning. Nothing changes in terms of kernel (or module) functionality as a result. This is nothing to be concerned about.

As for enabling rapiddisk-cache on system bootup, @S

[2021-06-12 13:04] #60 closed

[2021-06-12 14:56] pkoutoupis commented on #23
I merged this into master and cut release 7.2.0: https://github.com/pkoutoupis/rapiddisk/releases/tag/7.2.0.

[2021-06-12 14:56] #23 closed

[2021-06-12 14:57] pkoutoupis commented on #55
I merged this into master and cut release 7.2.0: https://github.com/pkoutoupis/rapiddisk/releases/tag/7.2.0

[2021-06-12 14:57] #55 closed

[2021-06-13 16:15] Augusto7743 commented on #60
in other words I only need ignore because all is working correctly ?
Have an nice day.

[2021-06-13 20:13] mircot80 commented on #23
Hello.  I did not understand if there is a possibility to enable write-back, thanks.

[2021-06-13 21:39] pkoutoupis commented on #60
Correct. :-)

[2021-06-13 21:42] pkoutoupis commented on #23
@mircot80: Yes. Merged into release 7.2.0 is the ability to enabled write-back using a volatile RAM-based cache volume. Remember, this is dangerous and should only be used with caution. It relies on dm-writecache which is provided by the mainline Linux kernel and modern Linux distros. To map a RapidDisk RAM drive as a writeback cache to a slower backend drive:

[code]

It is the "wb" for the cachi

[2021-06-16 06:55] mircot80 commented on #23
ok thanks, it works.
I'm testing it with chia plotter (madmax) but with the cache enabled the performance is lower.

Grazie saluti
Mirco Tonin
Assistenza Informatica
email: ***@***.******@***.***>
cell: 333 2698514

Da: Petros Koutoupis ***@***.***>
Inviato: domenica 13 giugno 2021 23:43
A: pkoutoupis/rapiddisk ***@***.***>
Cc: Assistenza Informatica - Tonin Mirco ***@***.***>; Mention ***@***.***

[2021-06-16 14:14] pkoutoupis commented on #23
Lower performance when compared to what? The backing store? How large is your RAM drive? What is the I/O being sent to the mapping? Also remember, the focal point of write back caching is to accelerate random access writes and not sequential.

[2021-06-16 21:21] krismoon commented on #23
Not sure I follow, why would sequential writes or large sequential writes not benefit from a writeback cache... Assuming the backing store is slow (i.e. mechanical HDD) and the data being written is less than the cache size, why would performance degrade?

[2021-06-16 21:32] pkoutoupis commented on #23
It isn't that they don't benefit at all. Sure, they do. But typically the backing store, even if it is spinning rust performs decently well when doing large file sequential writes. Or sequential write access in general. Random small files is where it really hurts and having a write back cache helps alleviate that pain. One drive can go from a 100 MB/s sequential write (no cache) to a 4 MB/s random

[2021-06-17 02:21] syadnom commented on #23
Large sequential writes don’t use any cache at all.  You’re going from
cpu>ram .  Add the cache and it does nothing except add a write to that
cache across the pcie bus which is much slower.

You’ll have literally zero cache hits mining chia on cached storage so best
case it gives you nothing, but adding a cache means more data on whatever
bus your storage is on.

I’m sitting on over 60,000 plots

[2021-06-24 07:05] Augusto7743 opened #62 "using writeback mode need configure dm-writeback ?"
I am a new Linux user.
Thanks very much in adding writeback in rapiddisk.

When using rapiddisk command line selecting writeback is need to configure dm-writeback ?
If yes setting flush data time is in dm-writeback ?

Thanks very much for reply.
Have an nice day.

[2021-06-25 16:26] pkoutoupis commented on #62
I do not make it configurable, at least not yet. This could be a feature enhancement.

[2021-06-25 19:17] dannygoulder opened #63 "Unable to build on RHEL8.4 - backports!"
Hi,

Just tried to build rapiddisk on RHEL8.4 (4.18 kernel with lots of backports).

[code]

Seems as though they must have backported https://github.com/torvalds/linux/commit/3373a3461aa15b7f9a871fa4cb2c9ef21ac20b47 to their 8.4 release, which has tricked the compiler into using the static'd function.  Joy!

Removing the kernel version check and forcing invalidate_bdev allows it to build cleanly

[2021-06-25 19:34] pkoutoupis commented on #63
@dannygoulder: Thank you for submitting this. I am just trying to confirm: is this only present in 8.4 or does it also exist in 8.3 (and earlier 8.x version of RHEL/CentOS)?

[2021-06-25 20:10] pkoutoupis commented on #63
@dannygoulder : does this work for you?
[code]
I just need to make sure that it was introduced in 8.4 and not earlier.

[2021-06-25 20:34] dannygoulder commented on #63
You beat me to it:

[code]

Last 8.3 kernel still had the function

[2021-06-25 20:44] dannygoulder commented on #63
Meant to add: thanks so much for such a rapid response.  I'll test the patch now and confirm (but you've probably already done it by now lol).

[2021-06-25 20:59] dannygoulder commented on #63
All looks good and build goes through fine now.  Thanks for the awesomely fast response time.

[2021-06-25 21:04] pkoutoupis commented on #63
Nice! And you did all the leg work. It just made it easier to figure out how to resolve it. Anyway, I will push it to master within the next few days. Thank you again!

[2021-06-25 22:19] Augusto7743 commented on #62
Thanks very much adding writeback to rapiddisk.
You had posted rapiddisk will be a wrapper to dm-writeback.
Thus I not understand what is to configure rapiddisk or dm-writeback.
I want to create some writeback cache being :
- one 64 MB defer write 6 minutes to root partition
- one 256 MB defer write infinite (write when cache is full or system shutdown) for home , var and opt partitions.
- one 64

[2021-06-26 13:17] pkoutoupis commented on #62
No. It is not possible today to tune (to defer or delay) the persisting of cache data to the backing store from the rapiddisk utility. That will still need to be manually enabled via dmsetup. Again, that can be a feature enhancement where rapiddisk could potentially include the following parameters:

[code]
https://www.kernel.org/doc/html/latest/admin-guide/device-mapper/writecache.html

[2021-06-26 13:24] pkoutoupis commented on #63
@dannygoulder: It is now merged into master and cut as release 7.2.1: https://github.com/pkoutoupis/rapiddisk/releases/tag/7.2.1

Thanks for your help!

[2021-06-26 13:24] #63 closed

[2021-06-27 03:07] Augusto7743 commented on #62
Thanks for your reply and the information link.
Writeback cache help SSD disk avoiding repeated writes of same files.

"autocommit_blocks n (default: 64 for pmem, 65536 for ssd)
when the application writes this amount of blocks without issuing the FLUSH request, the blocks are automatically committed"
That means defer flush is ignored if an application send command to flush data ?

Only trying und

[2021-07-15 13:44] Chrisputer opened #65 "Write-Back is lacking statistics"
I have write-back setup on sda3 but there is not info about how it's performing OR its not descriptive enough.
**Side Note:** I see as of 6.1 some scripts where used to initialize Rapiddisk at boot for root, but I cannot find documentation on how to do that.

`[root@ovirt-nfs ~]# curl -s --output - 127.0.0.1:9118/v1/showRapidDiskCacheStats/rc-wb_sda3|tail -n1|jq
[root@ovirt-nfs ~]# rapiddisk -l
ra

[2021-07-17 13:30] pkoutoupis commented on #65
@Chrisputer:
Thank you for experimenting with my driver. There are a few things to comment on here so let me start with the simplest:

1. Re: docs on boot for root...
The README exists at this URL: https://github.com/pkoutoupis/rapiddisk/blob/master/misc/rapiddisk-rootdev/README.md. The author was pretty thorough but if you find that it is missing key components, please open up a new ticket agains

[2021-08-17 22:44] w0lv3r1nix opened #66 "WSL2 rapiddisk-cache unlimited memory growth"
Hi Petros,

I've managed to install rapiddisk on wsl2 running Ubuntu 2004.
The problem is when I create a cache for a disk and start writing to it, the memory start to growth and never stops.

`rapiddisk -a 64`
`rapiddisk -m rd0 -b /dev/sdb1`
`mount /dev/mapper/rc-wt_sdb1 /mnt/rc-wt_sdb1/`
`dd if=/dev/zero of=tt2.img bs=1000M count=1000`

[code]

![image](https://user-images.githubusercontent.com/

[2021-08-20 16:10] pkoutoupis commented on #66
Hello @w0lv3r1nix, thank you for your interest in my project. I find it fascinating that you are attempting to get this to work in WSL2 although, I personally do not have any access to such an environment, so you will need to help fill in some gaps. For instance...

Did you mean dm_multipath or device-mapper as a whole? RapidDisk-Cache does not make use of dm_multipath but it **does** rely on the

[2021-08-20 16:41] w0lv3r1nix commented on #66
Hi @pkoutoupis
Yeah, it was a crazy idea, I've notice that wsl2 has better IO performance than win10/11 and I was using primocache on windows, so I decided to try to recreate that on wsl2.

I think device-mapper is ok and running, I can see the device created by rapiddisk on /dev/dm-0 and I can check that with dmsetup status, but the device is not mapped on /dev/mapper and I think rapiddisk is loo

[2021-08-23 13:46] pkoutoupis commented on #66
Does a normal rapiddisk ram drive work? For instance, if you create rd0 (of a size oof 256 MB) and write to it with dd. Does it stop at 256 MB and does the system's memory footprint reflect that? I want to see if we can narrow this down to just the caching component or device mapper.

[2021-08-23 14:36] w0lv3r1nix commented on #66
Yes
[code]

I did more research on this and found some interesting things.

1. I think wsl was not reclaiming the cache
    [Memory Reclaim in the WSL2](https://devblogs.microsoft.com/commandline/memory-reclaim-in-the-windows-subsystem-for-linux-2/)
    So using a while true with `echo 1 > /proc/sys/vm/drop_caches` I've managed to prevent the memory from blowing out.

2. The lvm2 that is inside ub

[2021-08-23 14:53] pkoutoupis commented on #66
That is a great idea. And thank you for looking into this.

RapidDisk RAM block device or native kernel ram block device? You have already been creating it with RapidDisk but the brd native kernel module, to create a single 32 GB (for example) ram drive:

[code]

[2021-08-23 15:52] w0lv3r1nix commented on #66
It works using rapiddisk but can't create vg on it because some filters.
and I don't know why, but brd doesnt let me create a big file:`
[code]

[2021-08-23 16:04] pkoutoupis commented on #66
Does this help?
[https://github.com/pkoutoupis/rapiddisk/wiki/Frequently-Asked-Questions-(FAQ)#lvm2-a-pvcreate-of-a-rapiddisk-volume-returns-with-a-volume-not-found-error](https://github.com/pkoutoupis/rapiddisk/wiki/Frequently-Asked-Questions-(FAQ)#lvm2-a-pvcreate-of-a-rapiddisk-volume-returns-with-a-volume-not-found-error)

[code]

[2021-08-23 16:54] w0lv3r1nix commented on #66
No luck with lvm.conf:
[code]
I had to make brd external module so I finally can create ramdisk using it 😃

[2021-09-11 13:31] Augusto7743 opened #67 "How enable rapiddisk to system start with writeback ?"
I have installed correctly Rapiddisk and see that in rapiddisk source file has 2 folders with scripts
/rapiddisk-7.2.0/misc/rapiddisk-legacy/
/rapiddisk-7.2.0/misc/rapiddisk-rootdev/

trying use the install_initrd.sh and return with errors even using
sudo install_initrd.sh -- install --kernel_5.11.0-16-generic

I want enable rapiddisk to create a 64 MB ram buffer for /home with writeback enabled.

[2021-09-11 16:52] pkoutoupis commented on #66
@w0lv3r1nix I dug deeper into the LVM2 user space source code and figured out why the RAM disk portion of the RapidDisk module suite is not able to be managed via the volume manager. LVM2 looks to see if the block device is supported and it determines support on whether the block devices can be physically partitioned. This code can be found in `lib/filters/filter-type.c` and specifically in the fu

[2021-09-11 16:52] #66 closed

[2021-09-12 14:48] pkoutoupis commented on #67
@Augusto7743 It appears that you have not specified all of the necessary command line options such as "size": sudo ./install_initrd.sh --install --root=<root_partition> --size=<ramdisk_size> --kernel=<kernel_version>

Anyway, what is the error message that you are seeing?

[2021-09-13 02:45] Augusto7743 commented on #67
Hello pkoutoupis. Thanks very much for your reply and also for creating that amazing cache utility.

Using the command above now works.
after all completed was displayed
"done under Ubuntu. a reboot is required"

Thus was restarted the OS.
in OS start boot log is displayed

kernel:rapiddisk : "loading out-of-tree module taints kernel"
kernel:rapiddisk : module verification failed: signature and /

[2021-09-18 18:25] pkoutoupis commented on #67
This is expected because it is an out-of-tree module:
[code]

As for this:
[code]
What is the exact command that you are executing or the block device you are using?

[2021-09-20 08:54] Augusto7743 commented on #67
I had tried to install rapiddisk using a folder using long name with spaces.
Thus I had moved to /home/rapiddisk and run the command

sudo ./install_initrd.sh --install --root=/dev/sda6 --size=256 --kernel=5.11.0-27-generic --force

finally was installed

After I had done
sudo nano /etc/modules

adding

rapiddisk
rapiddisk-cache
dm-writecache

OS started and rapiddisk service is running
doing the

[2021-09-25 16:01] pkoutoupis commented on #67
@Augusto7743 A couple of things going on here:

1. I am looking through the rootdev scripts and it does not support writeback caching and honestly, I personally do not believe that it should only because of how volatile memory is. To enable this on a root device could potentially be disastrous for the OS.
2. You are rerunning the rapiddisk command (after boot time and after the write-around cache

[2021-09-25 16:03] pkoutoupis commented on #65
@Chrisputer : I am working on a branch that will enable more descriptive stats via JSON for dm-writecache but it is limited only to what the kernel module is outputting. For example:

[code]
I will use this ticket to track the feature enhancement.

[2021-09-27 08:52] Augusto7743 commented on #67
I need again say thanks very much for your software.

I understand your good act saying about caution enabling writeback. Here has eletric protection.
I had used another OS with writeback for a long time without issues. The writeback was to partition used by browsers thus had avoided extreme repeated writing created by browsers. Even disabling temporary files the browsers use writing data for othe

[2021-10-03 14:52] pkoutoupis commented on #67
@Augusto7743 Can you please share (maybe a git diff) of what changes you have made for future users here in this ticket? While I personally feel that it should not be included in the mainline (for data integrity reasons), I can redirect users to this ticket number and/or post it in the project's Wiki / FAQ.

[2021-10-04 22:38] Augusto7743 commented on #67
Thanks very much for your reply and help me.

I had edited rapiddisk_sub.orig and changed
rapiddisk -m rd0 -b BOOTDEVICE -p wa
to
rapiddisk -m rd0 -b BOOTDEVICE -p wb

When OS start boot is displayed a message about not being possible run rapiddisk command. Is because dm-writeback not was loaded.
I am new Linux user thus not being possible in moment enable dm-writeback and configure defer delay fo

[2021-10-09 15:34] pkoutoupis commented on #67
I have added a link to the above post in the project Wiki and at the bottom of the FAQ: https://github.com/pkoutoupis/rapiddisk/wiki/Frequently-Asked-Questions-(FAQ).

[2021-10-09 15:34] #67 closed

[2021-11-07 07:19] Augusto7743 opened #69 "Writeback enabled in OS boot and data not are being written in OS shutdown"
Editing
rapiddisk_hook
adding in line 31
manual_add_modules dm-writecache

and in file rapiddisk_sub.orig
adding in line 5
modprobe -v dm-writecache

and add in line7
rapiddisk -a 128
rapiddisk -a 256
rapiddisk -m rd0 -b /dev/sda2 -p wb
rapiddisk -m rd0 -b /dev/sda3 -p wb

and after running the script install_initrd.sh rapiddisk cache and dm-writeback are loaded in OS startup.

The problem is data

[2021-11-07 07:22] Augusto7743 commented on #69
another detail.
I only had mapped for root for test.
I not recommend writeback in root device.

[2021-11-20 13:59] pkoutoupis commented on #69
That is because there is no procedure to flush the data to the backing store. I automatically do this in the "unmap" routine but that may not be possible in such a setup. You may need to write and configure a shutdown script such as an rc or systemd service file to run a command like this:
[code]

[2021-11-22 02:32] ia2130 opened #70 "Cannot active writeback on root partition"
Ubuntu 20.04.2
Kernel  5.11.0-40-generic
/dev/sda1 - root partition

Editing
rapiddisk_hook
adding in line 31
manual_add_modules dm-writecache

and in file rapiddisk_sub.orig
adding in line 5
modprobe -v dm-writecache

run  install_initrd.sh --install --root=/dev/sda1 --size=2048 --kernel=5.11.0-40-generic
but after reboot I see error message
device-mapper: core: Cannot calculate initial queue lim

[2021-11-22 07:45] Augusto7743 commented on #70
You need add in file rapiddisk_sub.orig

rapiddisk -a YOURRAMDISKSIZEFORWRITEBACK
rapiddisk -m rd1 /dev/sda1

When running install_initrd.sh --install --root=/dev/sda1 --size=2048 --kernel=5.11.0-40-generic
Use a small value for size because the value will be used for writearound cache and not for the writeback cache.
If you not wait use writearound for root use --size=1 thus will allow install mo

[2021-11-22 13:24] ia2130 commented on #70
in  rapiddisk_sub.orig I am  add

rapiddisk -a 512
rapiddisk -m rd1 /dev/sda1

then run install_initrd.sh --install --root=/dev/sda1 --size=128 --kernel=5.11.0-40-generic
and OS cannot boot(
(https://user-images.githubusercontent.com/44071475/142869144-6cbcc81f-6742-4f40-85c2-4ea7dfafbc69.png)

[2021-11-22 13:36] Augusto7743 commented on #70
I recommend install VirtualBox and create a virtual machine installing Ubuntu creating a partition for boot and another for root.
In moment testing in VM. Sometimes happen the same problem when starting even using correct commands in script.
Trying figure because happen that issue and how create a script to run in shutdown and restart because only creating the cache not automatically flush the dat

[2021-11-22 13:50] ia2130 commented on #70
Thank you, for your answers. Can you tell me how I can check did cache is working?
I am mouth other storage
rapiddisk -a 2048
rapiddisk -m rd0 -b /dev/sdl1 -p wb
mount /dev/mapper/rc-wb_sdl1 /storesdl/
rapiddisk -l

And I want to check did I have acceleration on it

[2021-11-22 18:56] #70 closed

[2021-11-23 13:30] Augusto7743 commented on #69
@pkoutoupis

All right with you ? I wait that yes.
I had figured how load dm-writecache in OS startup, but nothing about flushing.
I have one year using Linux thus not much knowledge.
Very much sites in internet spreading information about dm-writecache, but nothing about where to configure.
dm-writecache being a module in kernel for me look how had to do a command in kernel in OS startup or termi

[2021-11-26 16:09] pkoutoupis commented on #69
@Augusto7743

To date, rapiddisk-cache does not support 4K block sizes. Dm-writecache may support it. I will check that out in my environment and if it does, I will adjust both the documentation and user space utility to reflect that. I look at logical block size reported by the underlying block subsystem.

Enabling the service to run in OS startup create problems ?

No, rapiddiskd.service is not

[2021-11-27 01:53] Augusto7743 commented on #69
@pkoutoupis

Thanks very much for reply.
I had done test to try report information to the project.

"To date, rapiddisk-cache does not support 4K block sizes. Dm-writecache may support it. I will check that out in my environment and if it does, I will adjust both the documentation and user space utility to reflect that. I look at logical block size reported by the underlying block subsystem."
I se

[2021-12-02 09:34] Augusto7743 opened #71 "Writeback cache high memory usage halting OS"
I had tested several times in a Virtual Box with Lubuntu 20.04.3 creating 4 writeback caches and in some times the OS had halted at point needing force a VM shutdown.
Thus need test installing in a "real" computer.
Using a 80 GB disk empty was installed Lubuntu 20.04.3 in 4 GB RAM.
Disk partitions
sda1 1 MB unformatted boot grub
sda2 400 ext2 boot
sda3 btrfs root
sda4 btrfs opt
sda5 btrfs home
sda

[2021-12-02 10:15] Augusto7743 commented on #71
The writecaches buffers created are ;
rd0 unformatted partition 1 MB wa
rd1 root 128 wb
rd2 opt 32 wb
rd3 home 256 wb

Rapiddisk cache buffers only use memory when the buffer is being used ?
The caches values are little. Strange the high memory usage halting OS.

[2021-12-02 19:13] Augusto7743 commented on #71
Tested another VM only using ext4 having the same issue.
Good side not being a btrfs issue =)
Unhappily only using dmsetup message /dev/mapper/rrc-wb_sdaX 0 flush break OS startup thus if possible need stop totally the writecache device mapper before OS shutdown restart ?
Searching in internet several times not see any site about dmsetup halting the OS and not seeing in dmsetup docs any secure com

[2021-12-10 03:39] Augusto7743 commented on #71
To avoid the problems above only avoid run "dmsetup suspend" and create flush scripts to run in shutdown.

[2021-12-10 04:01] Augusto7743 commented on #69
Tested in several VMs images.
VM machine 1,2 GB RAM OS Lubuntu 20.04.3 with 3 caches for partitions root, home and opt.
The initramfs scripts was using the command below to avoid wa and wb in same root.
sudo bash install_initrd.sh --install --root=/dev/sda99 --size=1 --kernel=5.11.0-27-generic

Created a script and systemd to run in OS restart and shutdown.
Several times had happened a strange iss

[2021-12-13 06:45] Augusto7743 commented on #69
The 2 issues in previous reply not are happening in real machine, but have another problem.
Configured a script to run in shutdown.
After installing some softwares when restarting the OS is halted in boot command line interface before changing the screen to a GUI.
After all tasks are started the OS is halted.
Not file system errors.
Anything was broken in root ... configuration, file or etc.
All i

[2021-12-20 07:51] #71 closed

[2021-12-20 07:52] #69 closed

[2021-12-20 15:13] pkoutoupis commented on #69
Thank you for doing this research.

[2021-12-20 15:15] pkoutoupis commented on #71
Again, thank you for doing this research. It is very good details to know. I invite you to create a branch with a shutdown script but it will need to be intelligent enough to find all writeback cache devices (dm_writecache).

[2021-12-21 06:43] Augusto7743 commented on #71
@pkoutoupis
All right ?

In OS startup is displayed message
" ERROR unsupported sector size 4096 on /dev/dm-1."
OS is installed in BTRFS partition.
BTRFS default block size is 16 KB.
I not have information if the message is to be ignored or wrong actions are being done.

Is good enabling rapiddisk.service because is possible use command line about status.

Another detail is when is being done writ

[2021-12-21 06:58] Augusto7743 opened #72 "What is the means "RapidDisk-Cache Mappings statistics" ?"
Running
sudo rapiddisk -s /dev/mapper/rc-wb_sdaX
Is displayed
rapiddisk 7.2.1
0 25165824 writecache 0 32640 17184 0

What is the information in each number group ?
Thanks for reply.

[2021-12-21 14:05] pkoutoupis commented on #72
This is what the kernel documentation says: https://www.kernel.org/doc/html/latest/admin-guide/device-mapper/writecache.html
[code]

In my https://github.com/pkoutoupis/rapiddisk/tree/feature/nvme-export-support branch, I make this a bit more clear over the REST API:

[code]

**Note** the latest versions of dm-writecache has more fields which I do not account for in my code (yet).
[code]

[2021-12-21 14:08] pkoutoupis commented on #71
The 4K error is covered here: https://github.com/pkoutoupis/rapiddisk/issues/59

[2021-12-21 21:56] pkoutoupis commented on #65
The latest release 8.0.0 (and current master) has this JSON output implemented. Closing the ticket.

[2021-12-21 21:56] #65 closed

[2021-12-22 04:51] Augusto7743 commented on #72
Thanks.

[2021-12-28 05:14] Augusto7743 commented on #69
@pkoutoupis
Thanks for doing the new update release.

I have tested for few day with not issues using flush script when shutdown, but had happened a problem when the machine had entered stand by power mode.
Before stand by mode (sleep target mode) was done a systemctl command to nvidia suspend service.
In Nvidia forums have topics relating issues when entering nvidia suspend service.
Thus randomly

[2021-12-31 19:51] pkoutoupis commented on #72
@Augusto7743 Hello. Can we close this or do we need to redefine the issue?

[2022-01-02 05:37] Augusto7743 commented on #72
Is good see in RapidDisk CLI the total written done for each writeback cache.
When the cache if full is done written in disk.

[2022-01-12 04:14] colbyshores opened #75 "How do I cache-map?"
how do I cache map like the directions here show: https://delightlylinux.wordpress.com/2017/02/15/rapiddisk-improved-hard-drive-caching/
sudo rapiddisk --cache-map rd0 /dev/sdc1

The man pages are very unclear on what replaces it nor could I find any information anywhere online to what it's replacement would be.
Im looking to cache my primary drive(SSD) to a ramdisk for much faster performance.  I

[2022-01-12 13:49] pkoutoupis commented on #75
@colbyshores: Hello! Since version 7.0, the administration utility input has changed quite a bit. I have written this script to maintain the legacy input: https://github.com/pkoutoupis/rapiddisk/blob/master/scripts/rapiddisk-legacy/rapiddisk-legacy.sh
But if you are using 7.0 or later:
[code]
Or if you want to specify the cache policy (write-around [wa], write-through [wt] or the volatile write-ba

[2022-01-13 00:39] colbyshores commented on #75
Ok thanks!

[2022-01-13 13:19] pkoutoupis commented on #75
No problem. If you have additional questions, please do not hesitate to ask.

[2022-01-13 13:19] #75 closed

[2022-01-31 22:27] Nitrooo opened #76 "Can't compile on Linux Manjaro"
Linux Manjaro running:

[code]

Kernel headers and dependencies are installed.

[code]

[2022-02-03 20:44] Nitrooo commented on #76
Any clue on how to fix this?
Otherwise, is there a valid alternative to RapidDisk for Linux?

[2022-02-03 20:52] pkoutoupis commented on #76
I was going to look into it this weekend. I will need to support this kernel regardless, so it needs to get done. Doesn't look like it will be difficult.

[2022-02-03 22:14] pkoutoupis commented on #76
@Nitrooo: I just created this patch which will support/compile the code on the 5.16 kernel. I have done very little testing with it. I will test and push it this weekend.
[code]

[2022-02-03 22:23] Nitrooo commented on #76
It compiles on my machine now. I'm gonna test it tomorrow, I guess.
In the meantime, thank you very much.

[2022-02-05 14:45] pkoutoupis commented on #76
@Nitrooo I pushed the code to master. I will close this ticket but if you experience any issues, please feel free to open up a new one. Thank you for catching this and bringing it up to my attention.

[2022-02-05 14:45] #76 closed

[2022-02-05 17:15] Nitrooo opened #77 "Couldn't compile on Linux Manjaro 5.17"
I swear I don't want to pester you, but I've just updated the kernel to:
`Linux pc 5.17.0-1-MANJARO #1 SMP PREEMPT Sun Jan 30 20:08:31 UTC 2022 x86_64 GNU/Linux`

And:

[code]

[2022-02-05 18:35] pkoutoupis commented on #77
No worries. You aren't pestering me. Looks like a simple fix. I will try to work on this tomorrow.

[2022-02-05 18:43] pkoutoupis commented on #77
Here is a diff that "should compile". I haven't tested it yet...
[code]

[2022-02-05 21:00] Nitrooo commented on #77
For some reason the patch didn't apply, but I edited `rapiddisk.c` manually. It compiles, installs and runs, but this is what happens when I try to attach a new RAM disk:

[code]

If I relaunch the `rapiddisk -a 64` command, it  just hangs forever.
I don't know if it's related to this patched version as I didn't test the 5.16 patch on the 5.16 kernel, or any other previous version/kernel. My curre

[2022-02-06 01:59] pkoutoupis commented on #77
We will just use this ticket. I installed Manjaro and found the bug. I narrowed it down to the line of code. I will try to fix it tomorrow. Thank you again for your help.

[2022-02-06 14:05] pkoutoupis commented on #77
Can you give this branch a try?
https://github.com/pkoutoupis/rapiddisk/tree/defect/5.15-queue-alloc-fix

I tried it in my Manjaro VM and all looked good.

[2022-02-06 14:24] Nitrooo commented on #77
Sure, I'm gonna try it later this evening. Thank you very much for your super fast response.

[2022-02-06 19:27] Nitrooo commented on #77
I'm trying the `defect/5.15-queue-alloc-fix` branch:

[code]

Here it hangs and I have to press CTRL + c:

[code]
I run it again:

[code]

This is the relevant part of dmesg shown when the cache mapping hangs:
[code]

[2022-02-06 19:44] pkoutoupis commented on #77
Interesting because I exercised both on Manjaro running a 5.16 kernel and it worked without issue. The 5.17 change is trivial. Do you see any warnings when compiling the modules?

[2022-02-06 19:58] pkoutoupis commented on #77
Also, do you know which RC candidate you are using for 5.17? 1 or 2? I see that after 1 and before 2, a couple of dm I/O related patches went in but not sure if it entirely affects us here.

[2022-02-06 20:00] Nitrooo commented on #77
No errors or warnings while compiling, just a bunch of `Deprecated feature: REMAKE_INITRD` while compiling the modules.

Creating a file system on the RAM drive:
[code]

[2022-02-06 20:15] pkoutoupis commented on #77
OK. I reproduced it. Thanks again for your help. I do apologize for putting you through this hassle. You have been extremely helpful.

[2022-02-06 21:14] pkoutoupis commented on #77
This patch will need to be placed on top of the development branch:
[code]
Here is proof:
[code]
And:
[code]
I also realized that I was originally testing with 5.15 and not 5.16. For some reason I had thought that I was on 5.16. As you can see above I am now on 5.17 and you see proof (after the patch) of the driver working. I do apologize for putting you through this but you have been extremely he

[2022-02-06 21:17] pkoutoupis commented on #77
Also, before this exercise I have never used Manjaro and I am actually liking the distribution a lot. :-)

[2022-02-06 21:54] Nitrooo commented on #77
It works now, apparently, but I will have to test it thoroughly. Thank you very much for your support and your great software.
One more question. When I map a RAM drive to a block device with `-p wt` or `-p wa`, it works just fine, but:

[code]
And from dmesg:
[code]
`dm-writecache` is loaded:
[code]

[2022-02-06 21:56] pkoutoupis commented on #77
I will need to work on that piece tomorrow. That is a user space utility issue because it relies on dm-writecache which I do not maintain. I wonder if they changed something in the driver code. Thanks again!

[2022-02-06 22:13] Nitrooo commented on #77
Sure, take your time and thank you again.
Regarding Manjaro... yeah, I used Ubuntu-based distros for years, mainly Mint, then I switched to Manjaro and fell in love with the massive library of packages of the AUR repository as I have a lot of software installed from GitHub projects and I don't want to spend my time recompiling it or keeping track of the various PPAs. It's Arch, but for lazy people

[2022-02-06 23:14] pkoutoupis commented on #77
Hmmmm.....
In my Manjaro environment, it works.
[code]
BUT it seems like dm_writecache is picky on what kind of devices it uses. On another machine I attempted to map to an NVMe and kept getting this:
[code]
And another SATA drive:
[code]
But then on the same machine, I used another SAS drive, no issues. No, I am not saying drive types matter but I think that certain drive parameters (such as logi

[2022-02-06 23:43] Nitrooo commented on #77
To be honest I'm not familiar with that module or kernel development in general, for that matters.
In my case the device is a RAID 0 array created with mdadm. The sad thing is that I think my use case would benefit a lot from a writeback policy, since it's a very read/write intensive job and it doesn't need data persistence. I know it doesn't depend on you and you're already helping me greatly but

[2022-02-07 00:30] Nitrooo commented on #77
[code]

Well, I wanted to see the magic number of the mdadm array, but even dumpe2fs complains about it not being valid.
As you said, dm_writecache must be picky, but apparently my very issues is related to the way I created the mdadm array. I found a thread about this issue and will look into it tomorrow. :)

[2022-02-07 01:06] pkoutoupis commented on #77
OK. In the interim (probably tomorrow) I will push what I have to master. Thank you again!

[2022-02-07 12:55] Nitrooo commented on #77
I managed to create an array with a valid super-block and the `-p wb` mapping succeeded!
Now, how do I interpret the output of `-s`?

[code]

[2022-02-07 13:28] pkoutoupis commented on #77
Awesome! Happy to hear. To answer your question: [here is the dm-writecache kernel doc](https://www.kernel.org/doc/html/latest/admin-guide/device-mapper/writecache.html)
[code]

[2022-02-07 14:18] Nitrooo commented on #77
Thank you very much. :)

[2022-02-07 21:05] pkoutoupis commented on #77
If it is ok, I would like to close this ticket as resolved (since I pushed the working code to master). The dev branch has been deleted, so moving forward just use master. Anyway, if you experience the same or similar issues, feel free to reopen this or a new ticket.

[2022-02-07 21:05] #77 closed

[2022-02-11 20:46] pkoutoupis commented on #72
I added support for these extended statistics in dm-writecache which appear in the 5.15 kernel and later in the latest release 8.1.0: https://github.com/pkoutoupis/rapiddisk/releases/tag/8.1.0
As before, they are more description in the JSON implementation via the daemon. Please refer to the doc/API.txt for additional information on extracting this data from dm-writecache.

[2022-02-11 20:46] #72 closed

[2022-02-20 11:50] m0hamedessam opened #80 "Raid 0 supported ?"
Hello,

Im using 12x 18TB SATA raid 0 and im wondering to use rapiddisk to increase performance because i have already 128G ram but i have some questions.

**Is it support raid0 ?**

**i dont want lose any data so i can ram drive without any formatting ??**

https://delightlylinux.wordpress.com/2017/02/15/rapiddisk-improved-hard-drive-caching/
because regarding tutorial above drive need to be form

[2022-02-20 14:40] pkoutoupis commented on #80
@m0hamedessam, yes, adding RapidDisk as a cache to a pre-existing RAID **is** supported. You do not need to reformat anything and the attaching/removal of the cache is non-destructive **only** if you use a write-around or write-through caching policy. I have clear instructions on how to configure this in the project wiki here: https://github.com/pkoutoupis/rapiddisk/wiki/RapidDisk-Administration-U

[2022-02-20 16:58] m0hamedessam commented on #80
Thanks for your answer but raid0 its hardware hp smart array (/dev/sda3) is already mounted and system running (ubuntu 18) how to go around that ?? Or can i cache only 2 folders which contains media which i want mainly cache ??

thanks in advance

[2022-02-20 20:58] pkoutoupis commented on #80
Is /dev/sda3 part of your root image? If so, there is a set of scripts to enable RapidDisk on those volumes here: https://github.com/pkoutoupis/rapiddisk/tree/master/scripts/rapiddisk-rootdev. I would advise running it in a VM first before executing it on your actual machine.

[2022-02-20 21:17] m0hamedessam commented on #80
Thanks for your fast response and as you recommend I will try it on test server first however im thinking to reinstall system on ssd hard disk and mount raid using cache instead of using it on root because im afraid to lose data just in case.

what you recommend is worth it or will be same performance just not buy ssd disk for system for no reason ??

[2022-02-21 16:09] pkoutoupis commented on #80
The modules are primarily designed to increase read throughput. SSDs will cover the write piece of it. So, if write is what you are concerned with, then this module may not be the right fit for what you are trying to configure. If you intend on doing more read and require a large read cache, then yes, the module will be a perfect fit.

[2022-02-21 16:13] m0hamedessam commented on #80
My concern for more read cache not write so thanks for your kindly answer and i will try on test server and let you know results.

Cheers..

[2022-02-22 18:27] m0hamedessam commented on #80
hello im trying to compile and install module but before install root script im trying auto load module on boot but i couldn't due sign problem.

[    5.043381] rapiddisk_cache: loading out-of-tree module taints kernel.
[    5.043432] rapiddisk_cache: module verification failed: signature and/or required key missing - tainting kernel

I tried to manually sign modules but not help.

./scripts/sign-

[2022-02-23 19:56] singlecheeze opened #81 "More clear installation instructions on diff distros"
First, what a wonderful project!

I've been enjoying these two posts:
https://www.admin-magazine.com/HPC/Articles/Creating-Virtual-SSDs
https://delightlylinux.wordpress.com/2017/02/15/rapiddisk-improved-hard-drive-caching/

I've been trying to implement some caching on Ubuntu 20.04 via an install with dkms, though I think there are some gaps from the readme here or it might be out of date.

Is the

[2022-02-24 00:59] pkoutoupis commented on #81
@singlecheeze Thank you for your interest. As of version 7.0.0, the command parameter input has changed. Instructions on the supported parameters with examples can be found here: [https://github.com/pkoutoupis/rapiddisk/wiki/RapidDisk-Administration-Utility](https://github.com/pkoutoupis/rapiddisk/wiki/RapidDisk-Administration-Utility)

I am not sure why the rapiddisk binary is not found on your s

[2022-02-24 01:03] pkoutoupis commented on #80
I am not exactly sure. If manually signing it does not resolve it, I wonder how against you may be disabling the check for signed modules at boot up. You would need to set module.sig_enforce=0 as a kernel boot parameter in your grub.conf.

[2022-02-24 02:00] singlecheeze commented on #81
That is VERY kind and I appreciate the quick response!

I'm also very interested in the `nvmet-tune-system.sh` this looks wonderful! The exact thing I am trying to do is make a DIY SAN with NVMe over TCP (I might play with RDMA too). Would love some more detail around a few of the .sh scripts that are included too! This is excellent work!

Here is what tried (please excuse the mess of commands):
[

[2022-02-24 02:13] singlecheeze commented on #81
Can't find the daemon anywhere on the system:

[code]

[2022-02-24 02:16] singlecheeze commented on #81
But I can find other parts (dropping the "d"):
[code]

[2022-02-24 02:18] singlecheeze commented on #81
And just to be exact on the distro:
[code]

[code]

[2022-02-24 04:20] singlecheeze commented on #81
My attempt on Fedora 35:
[code]

[2022-02-24 04:21] singlecheeze commented on #81
Reference: https://github.com/cyberpro4/cremi/issues/2

[2022-02-24 04:24] singlecheeze commented on #81
It seems devel is required for micro:
[code]

[2022-02-24 04:27] singlecheeze commented on #81
Ok finally got it! :tada:

Going to write up a concise list of steps tomorrow if I have time:
[code]

[2022-02-24 04:28] singlecheeze commented on #81
[code]

[2022-02-24 04:39] singlecheeze commented on #81
As per: https://docs.fedoraproject.org/en-US/fedora/f35/system-administrators-guide/kernel-module-driver-configuration/Working_with_Kernel_Modules/#sec-Persistent_Module_Loading

Creating this file will load the modules on boot in fedora 35:
[code]

[2022-02-24 04:41] singlecheeze commented on #81
And the service will successfully start too! :tada:
[code]

[2022-02-24 13:57] singlecheeze commented on #81
Installation steps on a vanilla Fedora 35 Workstation x86 installation (dkms install).

Load dependancies:
[code]
Build and start module:
[code]
To load modules on boot:
[code]
Optional, load cockpit to manage md array:
[code]
Optional, allow cockpit to manage SELinux:
[code]

[2022-02-24 17:51] m0hamedessam commented on #80
I tried set module.sig_enforce=0 but still same error.

any other idea ?

[2022-02-24 22:53] pkoutoupis commented on #81
@singlecheeze Wow. You have been busy and I do apologize for not being more helpful. I am still concerned about the Ubuntu install from earlier. I see you have it running in Fedora but what happened with Ubuntu? Looking at your bash history I see:
[code]
There is no make install. Just a make dkms-install. So, the userspace utilities never got installed from what it looks like. Am I wrong?

If you'

[2022-02-24 22:56] pkoutoupis commented on #80
If you signing the modules or setting sig_enforce to 0 does not address the problem, then I wonder if the modules being certified is the problem. What other messages/errors are you seeing in dmesg during boot-up?

[2022-02-24 23:17] singlecheeze commented on #81
@pkoutoupis no worries and thank you. Very kind 😁

I'm going to work on Ubuntu tonight and see if I can tweak the steps above. I'm not terribly familiar with the make process and you are right I missed the make install.

A wiki page would be wonderful. I should have the Ubuntu steps done by then.

[2022-02-24 23:19] singlecheeze commented on #81
This project seems amazing and when you get around to it @pkoutoupis I'd love ❤️ to see some more info/details on the NVMe over TCP aspects too!

[2022-02-24 23:29] m0hamedessam commented on #80
Only this on dmesg log

[    7.118962] rapiddisk_cache: loading out-of-tree module taints kernel.
[    7.119018] rapiddisk_cache: module verification failed: signature and/or required key missing- tainting kernel

[2022-02-25 08:29] Augusto7743 commented on #72
Here using 5.11, but thanks very much for add that feature.
Thanks very much for your amazing software.
Have an nice week.

[2022-02-25 08:34] Augusto7743 commented on #81
Really the project is amazing.
Others users need known Rapiddisk.
Only is problem I see happening and possibly not is related with rapiddisk. If happen an partial written from writeback cache to disk being BTRFS is big chance the metadata will be damaged and the file system not will be mounted again.
I not understand if is a problem in BTRFS or in dm-writecache module being version for kernel 5.11

[2022-02-25 16:43] singlecheeze commented on #81
@Augusto7743 please open a new issue for this.

Your question is important and I'd like to know too some specifics on how the write back cache is implemented and scenarios to watch out for!

[2022-02-25 23:49] m0hamedessam commented on #80
Any updates how properly sign module or properly disable sign from kernel???

[2022-02-26 00:15] Augusto7743 commented on #81
How I say above the only problem is when happen partial written in BTRFS in OS crash or not doing flush before OS shutdown.
I have tested with several fstab settings and even thus BTRFS file system is damaged.
I not have information because happen that problem.

[2022-02-26 04:12] Augusto7743 commented on #81
Try create an VirtualBox VM add one virtual NVMe.
If you understand VirtualBox is possible 2 machines running in same time with TCP access.

[2022-02-26 04:38] singlecheeze opened #82 "Need 512e block size for Mware vSphere/ESXi use"
It would be wonderful :tada: to have 512e block size as an option for rapiddisk devices.

They appear to only be 4k:
[code]
This is based on the documentation found here, and specifically that [VMware ESXi requires 512e block size devices](https://docs.nvidia.com/networking/pages/releaseview.action?pageId=39263579#:~:text=Check%20the%20Enable%20512e%20format%20and%20Discover%20storage%20entity%20b

[2022-02-26 04:41] singlecheeze commented on #82
![image](https://user-images.githubusercontent.com/12156213/155829275-24b128f7-800f-46bf-9ae9-9c85f33712dd.png)

[2022-02-26 04:42] singlecheeze commented on #82
![image](https://user-images.githubusercontent.com/12156213/155829294-c21bf45b-6106-441d-83de-3f6558544fc9.png)

[2022-02-26 04:57] singlecheeze commented on #82
[ESXi supports only local 4Kn SAS and SATA HDDs.](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.storage.doc/GUID-5E7B4EBC-2147-42F9-9CCD-B63315EE1C52.html#:~:text=ESXi%20supports%20only%20local%204Kn%20SAS%20and%20SATA%20HDDs)

The key word above is "local", additionally: "ESXi detects and registers the [local] 4Kn devices and automatically emulates them as 512e."

[2022-02-26 16:10] #81 closed

[2022-02-26 16:11] pkoutoupis commented on #82
I have a similar ticket but in the opposite direction and for RapidDisk-Cache: https://github.com/pkoutoupis/rapiddisk/issues/59.

[2022-02-26 16:47] m0hamedessam commented on #80
Ubuntu 18.04

i tried everything to disable signing but noway unless mabe to compile new kernel with config signing disabled so i decided to try to sign module and main problem now trying to add key file i generate and sign module with to trusted system key becuase this the problem.

PKCS#7 signature not signed with a trusted key

i tried to add system kerying ID but permission denied

keyctl padd

[2022-02-26 17:12] singlecheeze commented on #81
@pkoutoupis sounds good! Thank you for your responsiveness!!!

[2022-02-27 14:29] m0hamedessam commented on #80
finally after i re-compile kernel with disable module signing using this tutorial
https://discourse.ubuntu.com/t/how-to-compile-kernel-in-ubuntu-20-04/20268

Everything loaded and auto start good then i start root script

cd /root/rapiddisk/scripts/rapiddisk-rootdev
./install_initrd.sh --install --root=/dev/sda4 --size=16000 --kernel=`uname -r` --cache-mode=wa --force

and reboot but still after b

[2022-02-27 15:30] pkoutoupis commented on #80
@matteotenca Any thoughts here?

[2022-02-27 15:44] m0hamedessam commented on #80
yes its Ubuntu 18.04 and script run fine and all hooks file created normally and theres no any errors on dmesg or syslog

Even i tried to reinstall

sudo apt remove initramfs-tools
sudo apt clean
sudo apt install initramfs-tools

and reboot but nothing....

is this script tested on ubuntu 18.04 ??

[2022-02-27 16:01] pkoutoupis commented on #82
Hmmm. I am actually kind of surprised that blkdev is returning 4K when only the physical block size is 4K and the logical is 512 bytes:
[code]
BYTES_PER_SECTOR is 512 bytes. I didn't think I made it 4K and as you see from the code about, the logical is not.
[code]
Strangely, even when I change the physical block size to match that of the logical...
[code]
Hmmmm. Not sure what is going on here.

Ev

[2022-02-27 16:21] matteotenca commented on #80
To have a clear vision of what is happening, use the "debug" kernel parameter in `grub` config: during boot a verbose log regarding initramfs activities will be created in `/run/initramfs/initramfs.debug`.

[2022-02-27 16:43] m0hamedessam commented on #80
@matteotenca

https://we.tl/t-R1ncT3XfHo
files attached but i cant really see any errors

+ . /scripts/init-premount/ORDER
+ /scripts/init-premount/rapiddisk_boot
+ [ -e /conf/param.conf ]
+ [ n != y ]
+ log_end_msg
+ _log_msg done.\n
+ [ n = y ]
+ printf done.\n
done.

please check file and let me know whats problem ?

[2022-02-27 17:10] pkoutoupis commented on #82
What I find interesting is....
[code]
It reports the logical sector size as 512 but block size but again, the "block size" is 4K. This util is supposed to send ioctls to the block device:
[code]
^ from the blockdev source code. What I find strange is that I default everything to 512 bytes:
[code]
AND when I cal blockdev with --getbsz (or anything else), my module does not register the ioctl.

Oh,

[2022-02-27 17:37] pkoutoupis commented on #82
Yeah, I just hacked up my code to see if the ram drive sees the ioctls and it doesn't. The kernel is returning those values. Strange.

[2022-02-27 18:53] matteotenca commented on #80
@m0hamedessam Give this branch a try: [https://github.com/matteotenca/rapiddisk/tree/ubuntu18](https://github.com/matteotenca/rapiddisk/tree/ubuntu18)

[2022-02-27 18:57] matteotenca commented on #80
It is a really small change in one file:

[code]

[2022-02-27 19:47] singlecheeze commented on #82
@pkoutoupis good inclination on testing from outside ESXi:
[code]

[2022-02-27 19:50] singlecheeze commented on #82
@pkoutoupis nevermind, I forgot I had rebooted the target host and that wiped the rapiddisk rd0 cache and the mapping to the md array and the nvme over TCP target! BTW how do I persist these past a reboot?
[code]

[2022-02-27 19:51] singlecheeze commented on #82
For example, I have to do this on every boot:
[code]

[2022-02-27 20:10] singlecheeze commented on #82
@pkoutoupis please see: https://communities.vmware.com/t5/ESXi-Discussions/NVMEof-Datastore-Issues/td-p/2301440

"Issue was solved by Storage vendor. Released a new firmware, downgrade 4k to 512 volume block size supported by VMware."

And I found the log:
[code]

[2022-02-27 20:23] m0hamedessam commented on #80
finally works @matteotenca thanks a lot after more than week :) but how can i properly test HDD read speed because i see no difference

[2022-02-27 21:02] pkoutoupis commented on #82
@singlecheeze

Yes, for now, it is a manual process on each reboot. I have not added an autoload feature. In fact, I am currently working on a "RapidDisk OS" that will incorporate that autoload functionality. For now, using the current RapidDisk suite, users are limited to either manually running it or by using an rc.local (or other) script to have the same routines run during boot time.

I did no

[2022-02-27 21:05] singlecheeze commented on #82
I'd love to see an OS like ESOS for NVMe!!!!!!!!!!

[2022-02-28 02:40] singlecheeze commented on #82
@pkoutoupis  More hacking on this tonight:
[code]
ESXi Logs (Auto Discovery):
[code]
And Manual input (Don't be fooled by the ` vmkParams.subnqn:    nqn.2021-06.org.rapiddisk:ubuntu-base-rc-wa_md127` I manually input that)
[code]
I'm puzzled by `Failed to get source vmknic for NVMe/TCP traffic on vmnic4: Not found` -- I'd really be embarrassed if there is something missing or I forgot to do in ESX

[2022-02-28 03:11] singlecheeze commented on #82
See here: I wonder if we are seeing through 512*e* and seeing the 4Kn... it's hard to tell what is 512, 4K emulated to 512, or 4K native...

https://kb.vmware.com/s/article/2091600#:~:text=in%20that%20case.-,This%20table,-compares%20native%20512

[2022-03-01 21:13] m0hamedessam commented on #80
@pkoutoupis any idea how properly test read cache speed ?

[2022-03-02 13:53] pkoutoupis commented on #80
Remember, it is read cache and if the data isn't staged in memory, then it won't go to memory. This is even more the case when using a write-around policy. A method that comes to mind is to create temporary directory and using a benchmarking utility like fio, write a substantial amount of small files. Read them all once to see the uncached perf and have it get staged into memory and then read it a

[2022-03-04 04:06] singlecheeze commented on #82
I worked on this a bit more tonight.

On previous trials, I was presenting virtual NVMe hard disks (in md raid 1) over RapidDisk NVMe/TCP back to the same ESXi that was running the VM I was presenting storage from.

Tonight I thought to try a NON NVMe virtual disk from the VM and use a different different disk controller (LSI Logic Parallel instead of NVMe) thinking that maybe the virtual NVMe con

[2022-03-05 12:53] singlecheeze commented on #82
I found this in regard to iSCSI with SPDK (Intel backed project for NVMe target I believe):

https://github.com/spdk/spdk/issues/1414

[2022-03-20 17:07] pkoutoupis commented on #80
@m0hamedessam, I wanted to follow up. Has this question or issue been settled. Were you able to determine if your workload improved with your setup? Again, it all depends on the profile of you workload. Either way, if this ticket has been resolved, I would like to propose that we close it.

[2022-03-20 23:50] m0hamedessam commented on #80
You can close ticket everything is ok.

[2022-03-21 12:59] #80 closed

[2022-03-26 02:17] singlecheeze commented on #82
@pkoutoupis any github for your "RapidDisk OS"? I'd love to contribute anything I can.

There are virtually no projects out there that I've been able to find that combine the caching and NVMe over RDMA/TCP that you've accomplished with RapidDisk!

[2022-03-27 22:08] pkoutoupis commented on #82
@singlecheeze I appreciate your excitement. I am not ready to share that project publicly yet. I am hoping to do so within the next 6 months. There is a bit of polishing that needs to happen first. Trust me when I say, you will be one of the first I reach out to when I do. And when that does happen, I hope to have this issue with vSphere sorted out as it needs to be a non-issue when the OS does be

[2022-03-28 14:42] singlecheeze commented on #82
@pkoutoupis 🎉🎉🎉

[2022-04-05 18:33] matteotenca commented on #69
@Augusto7743 I noticed that rapiddisk writeback mode used in conjunction with LVM seems not to suffer of the missing "last flush" on shutdown - I am not sure though, I just noticed this behaviour on a virtual machine once, but I didn't do any further tests and maybe I am totally off topic...

[2022-04-16 08:46] Hyphaed opened #84 "RapidDisk, does it comes configured?"
Hi

I'm eager to use RapidDisk, I would like to know if comes pre-configured

If I install it from sources, and I install the DKMS module. Will it automatically cache temp data and most used app data on RAM?

I have 64Gb of RAM and I would like my system to use up to 32Gb to store all the data of most used programs

[2022-04-16 16:29] pkoutoupis commented on #84
Hello and thank you for your interest. No, RapidDisk does not come preconfigured after installation. With the help of contributors, I have put together a Wiki for the project that will not only get you started but also learn more about advanced features and configuration: [https://github.com/pkoutoupis/rapiddisk/wiki](https://github.com/pkoutoupis/rapiddisk/wiki)

[2022-04-19 13:25] singlecheeze commented on #82
Made some progress here:
![image](https://user-images.githubusercontent.com/12156213/164013698-5cc96ade-069f-468e-a3cd-b8e13d25a94c.png)

Seems the issue was the need to manually configure a vmk for "NVMe over TCP"
![image](https://user-images.githubusercontent.com/12156213/164013984-fe53db59-f6d4-4360-8d57-0947b4485d19.png)

The error in the logs `Failed to get source vmknic for NVMe/TCP traffic

[2022-04-20 02:00] singlecheeze commented on #82
`[root@r730esxi3:~] cat /var/log/vmkernel.log`

[code]

From a lead here: https://communities.vmware.com/t5/ESXi-Discussions/NVMEof-Datastore-Issues/td-p/2301440

[2022-04-20 02:04] singlecheeze commented on #82
Rapiddisk nqn comes across as:
[code]

[2022-04-20 02:06] singlecheeze commented on #82
[code]

[2022-04-20 02:06] singlecheeze commented on #82
Block size looks good, possible RFC issue: https://communities.vmware.com/t5/ESXi-Discussions/NVMEof-Datastore-Issues/td-p/2301440

[2022-04-20 02:30] pkoutoupis commented on #82
Wow. You are making good progress. I will need to catch up tomorrow morning. Thank you for spending time on this.

[2022-04-20 02:50] singlecheeze commented on #82
Or this could be a HPP claim rule issue (Claim Rule ID 65535 seems to be a catch all):
[code]

[2022-04-20 03:29] singlecheeze commented on #82
Attempted to add a claim rule that matches controller "model" Linux:
[code]

[2022-04-20 03:39] singlecheeze commented on #82
Rebooted ESXi Host and seems the claim rule still results in a dead path:
![image](https://user-images.githubusercontent.com/12156213/164144729-4e20ac67-408a-4e5c-a979-34f84ac515bc.png)
![image](https://user-images.githubusercontent.com/12156213/164144752-102ec9b0-aaac-4fca-958e-59442e19959a.png)

`2022-04-20T03:38:03.822Z cpu9:2097508)ScsiClaimrule: 2039: Plugin HPP specified by claimrule 102 was

[2022-04-20 07:20] Augusto7743 opened #85 "install_initrd.sh not working in Ubuntu 20.04.3 with kernel update 5.17"
Hello.
I have installed Ubuntu 20.04.3 being kernel 5.11 and using install_initrd.sh works.
I have updated the kernel to 5.17.3-051703-generic.
When trying the command below

sudo bash install_initrd.sh --install --size=128 --cache-mode=wb --kernel=5.17.3-051703-generic
**** Error: the kernel version you specified is not installed. Exiting...

using uname -r
5.17.3-051703-generic

and using dpkg -

[2022-04-20 12:38] pkoutoupis commented on #85
@Augusto7743 It is unclear to me whether you built and installed the package prior to using the script. Can you please very that being the case. Also, is this an Ubuntu provided kernel or is it from a third-party repo installation?

@matteotenca any thoughts?

[2022-04-20 12:49] pkoutoupis commented on #82
All wonderful investigative work. I am caught up but am unclear on what we are suspecting. Are we doubting the NQN format from the rapiddisk application?

[2022-04-20 13:16] singlecheeze commented on #82
@pkoutoupis too hard to say at the moment... documentation online is very little so having to try a bunch of stuff. Going to work on a bit more today.

[2022-04-20 14:23] singlecheeze commented on #82
This is the same exact issue: https://mymellanox.force.com/mellanoxcommunity/s/question/0D51T00007SkkB7SAJ/can-you-do-rocev2-without-a-switch

[2022-04-20 15:41] pkoutoupis commented on #82
Let me know if you need a patch for the NQN. Or anything else. Again, I appreciate you putting all this work into this. You have been extremely helpful.

[2022-04-20 15:47] singlecheeze commented on #82
@pkoutoupis thank you very much. I'm using this issue to document some troubleshooting as there is virtually nothing online as per my google fu... hope you don't mind :)

[2022-04-20 18:13] Augusto7743 commented on #85
@pkoutoupis

Hello. All right with you ?
Thanks very much. Rapiddisk is an brilliant software.

I have used your software for more than one year and need say had happen problems possibly not related with your software.
The only problem is when using writeback in an btrfs parition if happen partial written without an metadata (metadata is the Linux naming for partition file table ?) flush in next O

[2022-04-20 19:36] singlecheeze commented on #82
Tried this claim rule too, which didn't work:
[code]
Looks like most storage vendors use SPDK and exposes the EUI which I'm wondering if VMware has to have vs a UUID:
[code]

[2022-04-20 19:37] singlecheeze commented on #82
Oddly with the above presented NVMeoTCP disk visable, no custom claim rules are needed (These are all default claim rules):
[code]

[2022-04-20 19:46] singlecheeze commented on #82
@pkoutoupis if you haven't seen this, please take a look: https://open-cas.github.io/

The team at intel doing Open CAS (OCF) that looks very close to rapiddisk potentially and bundles SPDK

[2022-04-21 01:40] pkoutoupis commented on #82
Interesting. I had never heard of this project and you are correct, it is oddly similar. I am not sure how I feel about that. Anyway, I should probably add diagrams into my project README. Maybe that will avoid some of the questions I keep getting asked about the project.

[2022-04-21 02:11] pkoutoupis commented on #82
https://github.com/pkoutoupis/rapiddisk/issues/82#issuecomment-1103433851
Where did you get the vendor? ```-V NVMe -M "Linux*"```
I am not finding a vendor anywhere in `sysfs` or with the `nvme` cli utility. Even the vendor id (vid) and subsystem vendor id (ssvid) are 0x0. I do not even know what 0x0 is. I cannot find it documented anywhere.

[code]

And what happens if you remove the wildcard fro

[2022-04-21 11:36] pkoutoupis commented on #82
What if you use a wildcard for the vendor and Linux for the model without a wildcard?

[2022-04-21 12:48] singlecheeze commented on #82
[code]
![image](https://user-images.githubusercontent.com/12156213/164461063-f4f0526d-7e31-4810-8a39-3bfc433bcae8.png)
![image](https://user-images.githubusercontent.com/12156213/164461121-2412810a-9d74-4792-910a-43242c06b714.png)
![image](https://user-images.githubusercontent.com/12156213/164461156-26200879-cb78-49fb-b8d8-3f4caf695d41.png)

Still same result:
[code]

[2022-04-21 20:27] singlecheeze commented on #82
The plot thickens with SPDK (Just using one NVMe device, not an MD array, even though this is all for test and is actually a VMDK sitting on an iSCSI data store in a VM that I'm just re-presenting storage back to the ESXi host that VM lives on):
[code]

Results in:
[code]

ESXi Sees:
[code]
![image](https://user-images.githubusercontent.com/12156213/164546547-a10dfb7d-7104-48d7-8ff4-8de5acf06a21.p

[2022-04-21 21:25] pkoutoupis commented on #82
Hmmmm. Remember your comment from earlier?
https://github.com/pkoutoupis/rapiddisk/issues/82#issuecomment-1105166612

Notice how the `nvmet` Linux in-kernel driver which I use does not support FUSE and in your latest update (https://github.com/pkoutoupis/rapiddisk/issues/82#issuecomment-1105725753) using SPDK, it does.

I wonder if THIS is the reason.

[2022-04-21 22:08] pkoutoupis commented on #82
What version of ESXi are you using? According to the Lightbits website, version 7.0U3 has been certified with their Lightbits OS using the same driver stack (they developed the NVMe TCP driver).

https://www.lightbitslabs.com/vmware

[2022-04-21 22:26] singlecheeze commented on #82
7.0U3d (Latest)

I've talked to them recently and think they are using SPDK

[2022-04-22 01:07] pkoutoupis commented on #82
If that is indeed the case, then it won't be possible to have the hypervisor support the exported volumes. It would only be possible to export them directly to the VMs that support NVMe TCP without fusion commands.

We may need to rethink this whole strategy. Maybe for VMware, just limit things to writing a Python wrapper script that lives in the scripts subdirectory and wraps around SPDK, while l

[2022-04-22 12:54] pkoutoupis commented on #85
@matteotenca What are your thoughts on the proposed change?

[code]

[2022-04-23 03:38] matteotenca commented on #85
I have a question: is it possible to install a signed and an unsigned kernel with the same version number at the same time, for example "linux-image-5.13.0-30-generic" and "linux-image-unsigned-5.13.0-30-generic"?

And is there a similar situation under CentOS (different kernel images with the same version number)?

Thanks!

[2022-04-24 11:20] pkoutoupis commented on #82
So, I asked the question and one of the co-founders answered: https://koutoupis.com/2022/04/22/vmware-lightbits-labs-and-nvme-over-tcp/#comment-56

[2022-04-24 13:07] singlecheeze commented on #82
Well done!!! More adventures in SPDK land @pkoutoupis
https://gist.github.com/singlecheeze/0bbc2c29a5b6670887127b93f7b71e3f

[2022-04-24 13:34] pkoutoupis commented on #82
So, how did we want to resolve this ticket? Some thoughts came to my mind:

- Would you be able to write a wrapper [Python] script specific to RapidDisk and around SPDK which we can place in https://github.com/pkoutoupis/rapiddisk/tree/master/scripts (you would be the one doing the pull request)?
- Or write a RapidDisk specific guide which we can place in the project Wiki (with credit to you): htt

[2022-04-24 13:54] singlecheeze commented on #82
Let me experiment with using SPDK with RapidDisk, happy to create a pull request if I can get something pulled together

[2022-04-26 07:27] Augusto7743 opened #86 "Bash and script to flush writeback cache in OS suspend and shutdown"
Hello.
I have used Rapiddisk for writeback cache since version 7.2 in Ubuntu 20.04.
install_initrd.sh does an good task creating commands in OS start thus loading Rapiddisk modules creating the disk cache.
If user choose writeback in root need manually run dmsetup to flush data before OS shutdown.

I had created bash files and systemd service to flush writeback cache when OS enter suspend mode and

[2022-04-26 12:05] TuxInvader commented on #85
@matteotenca It isn't on Ubuntu. The signed and unsigned kernels conflict with one another.
[code]
both the signed and unsigned kernels depend on the same modules and headers packages.

[2022-04-26 21:40] matteotenca commented on #85
Thanks, I made the proposed changes. I need to made some test under CentOS, now the installation process is the same as before.

[2022-04-27 05:37] Augusto7743 commented on #85
@TuxInvader
Thanks very much for your reply =)

[2022-04-27 12:46] #85 closed

[2022-04-27 12:48] pkoutoupis commented on #84
Hello @Hyphaed. Seeing how your question has been answered, I will close this ticket and if you have any new questions or come across new issues, feel free to open up a new one. Thank you.

[2022-04-27 12:48] #84 closed

[2022-04-29 02:53] Augusto7743 commented on #86
Today have happened the problem partial flush to disk using BTRFS and the file system was damaged, but is how new kernel modules have any BTRFS updates was possible easily recover the damaged partition.
I recommed update to kernel 5.17 if you use Ubuntu 20.04. Avoid 5.13 because have several users reporting power suspend errors.
Not tested in 22.04 yet.

[2022-04-30 15:48] pkoutoupis commented on #86
@Augusto7743 Any way you can do a pull request and place these files in a subdirectory called `scripts/rapiddisk-init` with a README.md give a description of what each does, how to install and possibly a disclaimer of what environment (i.e. kernel) to use it in? That way we can do a more formal review, tweak the code if necessary and once everyone is happy, it can merge into master.

[2022-05-01 17:03] q5sys opened #88 "systemctl start rapiddiskd fails on RockyLinux 8.5"
The install itself went fine once I got the deps figured out.  The build compiled as it should, the module was loaded without issue, but when I try to start the service it fails, and doesn't really give a reason.

[code]

Did I miss something in the docs?  Does the service file need to be configured before starting it?

[2022-05-01 18:09] pkoutoupis commented on #88
@q5sys Within the next few days I will install Rocky 8.5 and attempt to debug if it is a bug. Thank you for filing this.

[2022-05-01 18:14] q5sys commented on #88
@pkoutoupis Happy to help anyway I can.  You're project is exactly what I've been looking for, for quite a while.  I don't mind using another Linux distro if I need to.  I just already had a Rocky machine up and running so it seemed like a good fit.  Do you have a list of distros that Rapiddisk has been confirmed to work on?

[2022-05-02 19:28] pkoutoupis commented on #88
@q5sys Thank you.

That is because you need to install `epel-release` and:
[code]
Followed by:
[code]

Doing that, I had no issues:
[code]

And `ps` also confirms that it is running:
[code]

The daemon is also responsive:
[code]

Oh, and....
[code]

I would retry with the Powertools repo enabled version of libmicrohttpd-devel, to make sure that your header matches the installed library and we can

[2022-05-04 19:54] q5sys commented on #88
Hmm.... I've got some free time tomorrow night I'll try it again.  I have EPEL and the powertools repo enabled... but I might have had the order wrong to get the right packages.
If I can reproduce your results I'll close the issue.  Thanks for investigating.

[2022-05-04 22:41] matteotenca commented on #88
I suggest a change to the service file:

[code]

This way the modules are always loaded before `rapiddiskd` is executed, and when `rapiddiskd` fails with a return value of 255 (this happend to me when modules were not loaded yet), the system stops trying to restart it forever.

[2022-05-04 22:50] matteotenca opened #90 "Warning while compiling tools under Ubuntu 22.04 LTS (-Wformat-overflow=)"
Under Ubuntu 22.04 LTS:

[code]

[code]

[code]
[code]
I have this warning during compilation:

[code]

It seems `nvmet_ports->protocol` is defined as an array of 5 unsigned chars in `cli.h`:

[code]

Hope this can help!
Regards

[2022-05-05 00:23] pkoutoupis commented on #90
Yikes. A buffer overflow. Good catch. Thank you. I will fix this in the coming days with the service script mods you suggested in the other issue.

[2022-05-05 00:24] pkoutoupis commented on #88
Awesome suggestions. Thank you.

[2022-05-05 12:44] pkoutoupis commented on #90
@matteotenca Can you please review and test this? https://github.com/pkoutoupis/rapiddisk/pull/91
It will not let me add you as a reviewer.

[2022-05-05 23:32] q5sys commented on #88
@pkoutoupis I figured out the issue.  I did a clean install and was still running into problems.  Fired up strace and tried to start the daemon manually and immediately realized where I messed up.  I was only loading the main module and not the cache module.  Since I had no plans to use rapiddisk as a disk cache I didn't think it was required.
The main readme shows loading/unloading the modules in

[2022-05-05 23:32] #88 closed

[2022-05-05 23:48] pkoutoupis commented on #90
I closed the old PR and opened a new one: https://github.com/pkoutoupis/rapiddisk/pull/93

[2022-05-07 12:57] pkoutoupis commented on #90
@matteotenca Just a friendly reminder to do a quick check of https://github.com/pkoutoupis/rapiddisk/pull/93 for this issue. Thank you again.

[2022-05-07 17:47] pkoutoupis commented on #90
Tested and merged.

[2022-05-07 17:47] #90 closed

[2022-05-16 01:01] juanpc2018 opened #95 "Make Error Kubuntu 21.10"
$ make
make -C src
make[1]: Entering directory '/home/K/Downloads/Linux Rapidisc/rapiddisk-8.1.0/src'
Make has completed.
make[1]: Leaving directory '/home/K/Downloads/Linux Rapidisc/rapiddisk-8.1.0/src'

make -C conf
make[1]: Entering directory '/home/K/Downloads/Linux Rapidisc/rapiddisk-8.1.0/conf'
Nothing to do.
make[1]: Leaving directory '/home/K/Downloads/Linux Rapidisc/rapiddisk-8.1.0/conf'

[2022-05-16 06:08] matteotenca commented on #95
The path to the module source can't contain whitespaces. So you should change:

[code]

to something like:

[code]

It's a `make` limit, see [HERE](https://unix.stackexchange.com/questions/448913/how-to-compile-linux-kernel-modules-within-white-space-separated-directories-und).

[2022-05-16 12:38] pkoutoupis commented on #95
@juanpc2018 It is also unclear to me on whether you have the kernel source/headers installed on the distribution. You should make sure that the `linux-headers` package is installed for your running kernel.

[2022-05-18 00:02] matteotenca commented on #95
@pkoutoupis @juanpc2018

Sorry if I did not posted more details in my first answer. I reproducted the error:

[code]

`make` considers the part of the line after the blank (`Rapidisc/rapiddisk-8.1.0/module`) as a second target to build. I gave a look to the kernel modules build docs, but all the examples I found never used a path with whitespaces after the `M=`. I found out the path after `M=` mus

[2022-05-19 13:59] pkoutoupis commented on #95
Thank you @matteotenca!

@juanpc2018 Are you still having issues building?

[2022-05-27 01:24] #95 closed

[2022-05-27 01:28] juanpc2018 opened #96 "Active: failed (Result: exit-code) Kubuntu 21.10"
$ systemctl status rapiddiskd.service
× rapiddiskd.service - A rapiddisk network management daemon
     Loaded: loaded (/etc/systemd/system/rapiddiskd.service; disabled; vendor preset: enabled)
     Active: failed (Result: exit-code) since Thu 2022-05-26 20:21:16 -05; 59s ago
    Process: 151682 ExecStartPre=sh -c lsmod | grep -q rapiddisk || { modprobe rapiddisk ; modprobe rapiddisk-cache ; } (co

[2022-05-27 12:41] pkoutoupis commented on #96
@juanpc2018 Thank you for submitting this. A few questions:
* Can you verify that rapiddisk, rapiddisk-cache and dm-writecache are loaded? If not, can you ensure that they are loaded and restart?
* Is this after a fresh reboot? What happens if you manually start it?

[2022-05-27 16:27] juanpc2018 commented on #96
Reboot seems to be Like Magic.

-----
$ sudo rapiddisk -h
[sudo] password:

Please ensure that the RapidDisk module is loaded and retry.

:~$ systemctl status rapiddiskd.service
○ rapiddiskd.service - A rapiddisk network management daemon
     Loaded: loaded (/etc/systemd/system/rapiddiskd.service; disabled; vendor preset: enabled)
     Active: inactive (dead)

:~$ systemctl start rapiddiskd.servi

[2022-05-27 16:33] #96 closed

[2022-05-27 16:39] juanpc2018 opened #97 "Error synchronizing after formating with type "ext4" "xfs": Timed out waiting for object (udisks-error-quark, 0))"
:~$ sudo rapiddisk -a 1024
rapiddisk 8.1.0
Copyright 2011 - 2022 Petros Koutoupis

Attached device rd0 of size 1024 Mbytes

BUT...
when i try to format in Gnome Disks:
Error synchronizing after formating with type "ext4" or "xfs": Timed out waiting for object (udisks-error-quark, 0))

in Gparted
error.
Command: sfdisk --wipe=always /dev/rd0
Create new partition table on device ‘/dev/rd0’: Error
Cr

[2022-05-27 16:48] juanpc2018 commented on #97
:~$ sudo partitionmanager
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-root'
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-root'
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-root'
Could not load plugin for core backend  "" :  "The shared library was not found."
Loaded backend plugin:  "pmsfdiskbackendplugin"
"Using backend plug

[2022-05-27 17:03] juanpc2018 commented on #97
:~$ sudo rapiddisk -l
rapiddisk 8.1.0
Copyright 2011 - 2022 Petros Koutoupis

List of RapidDisk device(s):

 RapidDisk Device 1: rd0        Size (KB): 1024000

List of RapidDisk-Cache mapping(s):

  None

[2022-05-27 20:05] juanpc2018 commented on #97
:~$ sudo rapiddisk -a 1005
[sudo] password:
rapiddisk 8.1.0
Copyright 2011 - 2022 Petros Koutoupis

Attached device rd0 of size 1005 Mbytes
:~$ mke2fs -F /dev/rd0
mke2fs 1.46.3 (27-Jul-2021)
mke2fs: Permission denied while trying to determine filesystem size

:~$ sudo mke2fs -F /dev/rd0

creates a -t ext2

BUT....
:~$ blkid /dev/rd0
NULL

:~$ lsblk | grep disk
sda      8:0    0 238.5G  0 disk
sdb

[2022-05-27 20:26] #97 closed

[2022-05-29 04:36] juanpc2018 opened #98 "Low performance cache Benchmark ?"
need to do more tests tomorrow, im half sleep.
but i think i have low perfomance when ramdrive is used as cache.
$ systemctl status rapiddiskd.service
$ systemctl start rapiddiskd.service
$ sudo rapiddisk -a 1000
$ sudo rapiddisk -l
$ sudo rapiddisk -m rd0 -b /dev/sda4
$ sudo rapiddisk -l

to mount was easy in Dolphin,
rapiddisk creates a cloned virtual drive /dev/mapping/rc-wt_sda4
$ lsblk
$ sudo

[2022-05-29 04:47] juanpc2018 commented on #59
i think the problem is mke2fs
try mkfs -t ext4
https://linux.die.net/man/8/mkfs
mkfs.xfs
https://linux.die.net/man/8/mkfs.xfs

[2022-05-29 13:36] pkoutoupis commented on #98
When mapping a RAM drive as a read through cache (or any cache for that matter), it will not be 1:1 to a stand alone RAM drive. The internal caching logic will introduce latencies as tables are looked up for already cached data, etc. The thing to note with your above configuration is that your writes will not see a boost but your reads could potentially see a boost when accessing already cached da

[2022-05-30 20:02] pkoutoupis commented on #59
@juanpc2018  Thank you. However, this is before the file system comes into the picture. The issues stems from the block device's logical block size and the fact that RapidDisk-Cache has issues with a 4K block size.

[2022-05-31 03:21] #98 closed

[2022-05-31 18:47] juanpc2018 opened #99 "Killed ?"
this is a different Linux,
difference: has dkms-install
different Kernel.
similar Debian type.

------

$ sudo rapiddisk -l
[sudo] password:
rapiddisk 8.1.0
Copyright 2011 - 2022 Petros Koutoupis

Unable to locate any RapidDisk devices.

$ sudo rapiddisk -a 1000
rapiddisk 8.1.0
Copyright 2011 - 2022 Petros Koutoupis

Attached device rd0 of size 1000 Mbytes
Killed

$ sudo rapiddisk -l
rapiddisk 8.1

[2022-05-31 19:08] juanpc2018 commented on #99
$ sudo make dkms-uninstall
Reboot.
$ systemctl status rapiddiskd.service
● rapiddiskd.service - A rapiddisk network management daemon
     Loaded: loaded (/etc/systemd/system/rapiddiskd.service; enabled; vendor preset: enabled)
     Active: failed (Result: exit-code) since Tue 2022-05-31 14:01:57 -05; 4min 59s ago
    Process: 9381 ExecStartPre=/usr/bin/sh -c lsmod | grep -q rapiddisk || { modprob

[2022-05-31 19:25] juanpc2018 commented on #99
$ make uninstall
reboot
$ make
$ make install
$ modprobe -D rapiddisk
insmod /lib/modules/5.14.0-1036-oem/kernel/drivers/block/rapiddisk.ko
jpc@mama-macmini71:~/Downloads/rapiddisk-8.1.0$ modprobe -D rapiddisk-cache
insmod /lib/modules/5.14.0-1036-oem/kernel/drivers/block/rapiddisk-cache.ko

$ sudo modprobe rapiddisk
$ sudo modprobe rapiddisk-cache

$ systemctl status rapiddiskd.service
Unit rapid

[2022-05-31 19:29] juanpc2018 commented on #99
Roboot.

$ sudo systemctl status rapiddiskd.service
[sudo] password:
● rapiddiskd.service - A rapiddisk network management daemon
     Loaded: loaded (/etc/systemd/system/rapiddiskd.service; enabled; vendor preset: enabled)
     Active: failed (Result: exit-code) since Tue 2022-05-31 14:27:12 -05; 39s ago
    Process: 2512 ExecStart=/sbin/rapiddiskd (code=exited, status=255/EXCEPTION)

may 31 14:2

[2022-05-31 19:32] pkoutoupis commented on #99
@juanpc2018 There is a lot going on here. Let us start with the modules first.

- Can you verify that the following modules are installed and loaded: rapiddisk, rapiddisk-cache and dm-writecache?
- With the rapiddisk module loaded, what happens when you execute this command as root?
[code]

[2022-05-31 19:33] juanpc2018 commented on #99
$ echo "rapiddisk attach 65536" > /sys/kernel/rapiddisk/mgmt
bash: /sys/kernel/rapiddisk/mgmt: No such file or directory

[2022-05-31 19:38] pkoutoupis commented on #99
rapiddisk, rapiddisk-cache and dm-writecache are not loaded here. None of the utilities or daemons will function without them. Are they installed on the system?

[2022-05-31 19:39] juanpc2018 commented on #99
$ modprobe -D rapiddisk
insmod /lib/modules/5.14.0-1036-oem/kernel/drivers/block/rapiddisk.ko

$ modprobe -D rapiddisk-cache
insmod /lib/modules/5.14.0-1036-oem/kernel/drivers/block/rapiddisk-cache.ko

$ modprobe -D dm-writecache
insmod /lib/modules/5.14.0-1036-oem/kernel/drivers/md/dm-writecache.ko

[2022-05-31 19:40] juanpc2018 commented on #99
$ sudo modprobe -f rapiddisk
[sudo] password:
modprobe: ERROR: could not insert 'rapiddisk': Exec format error

[2022-05-31 19:46] juanpc2018 commented on #99
should i lower the Kernel? back to 5.10.1011 ?

here is the installer:
https://archive.org/details/pearOS_Monterey_64bit-12-beta-2021.07.01
https://archive.org/details/pearos_archive

The New pearOS Nicec0re is a big change from Debian to Arch Linux, its very raw/coarse...
pearOS Monterey 07.01 is the Peak of Debian Development, very nice.

[2022-05-31 19:46] pkoutoupis commented on #99
That error means that the module was not built for the kernel you are currently running. If you do a `uname -r`, you will see the kernel that you need to build the module against and then either rerun the `make && make install` OR the `make dkms-install` commands (assuming that your have the proper kernel headers installed.

[2022-05-31 19:53] juanpc2018 commented on #99
linux-buildinfo-5.14.0-1036-oem
linux-headers-5.14.0-1036-oem
linux-image-5.14.0-1036-oem
linux-modules-5.14.0-1036-oem
linux-oem-5.14-headers-5.14.0-1036
linux-oem-5.14-tools-5.14.0-1036
linux-tools-5.14.0-1036-oem

[2022-05-31 19:56] pkoutoupis commented on #99
If you go to the module source directory and manually run `make`, does it build successfully? If so, can you successfully `insmod` the modules from that build directory?

[2022-05-31 20:12] juanpc2018 commented on #99
Failed again..
Reinstalled Kernel.
Reboot.

deleted rapiddisk folder,
unzip again.

$ make
make -C src
make[1]: Entering directory '/home/jpc/Downloads/rapiddisk-master/src'
cc -c json.c -o json.o
cc -c rdsk.c -o rdsk.o
cc -c nvmet.c -o nvmet.o
cc -c sys.c -o sys.o
cc main.c -o rapiddisk json.o nvmet.o rdsk.o sys.o -ljansson
cc -c json.c -DSERVER -o json-server.o
cc -c net.c -o net.o
cc -c sys.c -

[2022-05-31 20:20] juanpc2018 commented on #99
$ systemctl stop rapiddiskd.service
$ systemctl status rapiddiskd.service
● rapiddiskd.service - A rapiddisk network management daemon
     Loaded: loaded (/etc/systemd/system/rapiddiskd.service; enabled; vendor preset: enabled)
     Active: inactive (dead) since Tue 2022-05-31 15:18:57 -05; 10s ago
   Main PID: 30985 (code=killed, signal=TERM)
$ systemctl start rapiddiskd.service
$ systemctl stat

[2022-05-31 20:40] pkoutoupis commented on #99
What is your exact OS/setup? Is it this?
[code]

[2022-06-01 17:28] juanpc2018 commented on #99
yes, pearOS 07.01

i like it because has the same time saving feature as OSX,
select multiple files, create a folder, type a name and moves all the files automatically inside the folder.

for people working with 18TB of files, that feature saves like 300 years.

$ uname -a
Linux 5.14.0-1036-oem #40-Ubuntu SMP Mon May 9 09:15:08 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

[2022-06-02 17:13] pkoutoupis commented on #99
On 5.14.0-1036....
[code]

[2022-06-02 17:29] pkoutoupis commented on #99
This patch fixes the Killed issue. I will push this in the next couple of days.
[code]

[2022-06-04 00:26] matteotenca commented on #86
@Augusto7743 @pkoutoupis

I believe that a very final flush via systemd services is a problem.
From the [docs](https://man7.org/linux/man-pages/man7/bootup.7.html):

[code]

And from [here](https://man7.org/linux/man-pages/man8/systemd-halt.service.8.html):

[code]

Under Ubuntu, all the executables in `/lib/systemd/system-shutdown` are executed. Creating the script suggested by @Augusto7743 in th

[2022-06-04 01:07] Augusto7743 commented on #86
@matteotenca
Thanks very much adding all information above.
One good solution is create an script to run before "File System Pre" is being stopped.
The script need to run before the OS is unmonting all file systems not being "/".

[2022-06-04 13:20] pkoutoupis commented on #86
@Augusto7743 Again, if you can do a pull request and place these files in a subdirectory called scripts/rapiddisk-init with a README.md that gives a description of what each does, we can start officially reviewing it and if/when it looks good, merge it into master.

[2022-06-04 13:31] pkoutoupis commented on #99
@juanpc2018 Can you please retry with this branch? [https://github.com/pkoutoupis/rapiddisk/tree/defect/fix_killed_rapiddisk_attach](https://github.com/pkoutoupis/rapiddisk/tree/defect/fix_killed_rapiddisk_attach)

When you clone the repo or git pull the existing repo...
[code]
Then `make clean` and `make && make install`. Although to be sure that you are using the correct module, just `insmod` fr

[2022-06-07 22:34] Augusto7743 commented on #86
Not being possible add script.zip in "rapiddisk pull request". Using waterfox. Perhaps not compatible browser ?
The script and systemd.
Please add and review the script.
[1.zip](https://github.com/pkoutoupis/rapiddisk/files/8856943/1.zip)

[2022-06-09 20:27] pkoutoupis commented on #99
Did you use the branch and not master? Can you do a git branch on the source and paste the output here?

[2022-06-09 20:40] juanpc2018 commented on #99
Cache works Now,
But...
gnome-Disks Benchmark is very unstable vs. Kubuntu 21.10

[2022-06-09 21:02] juanpc2018 commented on #99
Ramdrive & Cache working.

systemctl status rapiddiskd.service
sudo rapiddisk -a 1000
sudo mkfs.ntfs /dev/rd0
mkdir ramdisk
sudo rapiddisk -m rd0 -b /dev/sdc2
sudo mount -t ntfs /dev/mapper/rc-wt_sdc2 ramdisk

sudo rapiddisk -s rc-wt_sdc2

tested with External USB3.0 NTFS drive.

[2022-06-09 21:06] #99 closed

[2022-06-10 04:36] matteotenca commented on #86
@Augusto7743 I tried with the systemd approach (i.e. using services), with your files and with many variants found around the web, but the root filesystem with a rapiddisk device attached in writeback mode always ends up unclean on next reboot. The only working solution I found is to put the flushing script in `/lib/systemd/system-shutdown` under Ubuntu 20.04.4 LTS.

Other writeback caches on othe

[2022-06-11 05:42] Augusto7743 commented on #86
Thanks very much for your reply.

The files work here with Lubuntu (Ubuntu using LXQT) 20.04.4 LTS.

"Other writeback caches on other volumes may be flushed just before unmounting"
Need create an target to the correct systemd service when the system is being restarted or shutdown.
Is possible using an target of any systemctl before unmounting others volumes work.
I will test it.

"I believe the ro

[2022-06-11 21:46] juanpc2018 commented on #99
https://github.com/pkoutoupis/rapiddisk/tree/defect/fix_killed_rapiddisk_attach

[2022-06-12 05:14] matteotenca opened #103 "Strange behaviour: a write trough volume can be created, a write back can't - same device"
Hello,
I noticed this strange problem - I don't know if is a rapiddisk's one or not.
I create a ramdisk, I try to attach it to a partition in wt/wa mode, all is ok.
But if I try to attach it to the same partition in wb mode, I got an error (rapiddisk exit with 0 though).

[code]

From `dmesg`:

[code]

From `lsblk`:

[code]

The size of the partion in bytes divided by the physical sector size:

[c

[2022-06-12 05:39] matteotenca commented on #103
@pkoutoupis
I extended the partition with `gparted`, adding 1 MB, and now everything works:

[code]

[2022-06-12 14:30] pkoutoupis commented on #103
I am very limited with what I can do with dm-writecache since it isn't my driver or project. With regards to this:

The dmsetup technically **did** execute without error but driver did not like the input. This was always a problem when relying on the device-mapper framework since day one. That is why I write:
[code]
That the command was sent and to verify that it was created.

[2022-06-13 18:55] matteotenca commented on #103
@pkoutoupis Thank you, this is an important information... maybe I should arrange the scripts in such a way they don't rely on the return code only. Thanks for the explanation!

I have a question, not strictly related to this (non existing) issue: in the help there is this example:

[code]

This should create something like this (on my system):

[code]

The device mounted is `/dev/mapper/rc-wb_rc-

[2022-06-13 19:45] pkoutoupis commented on #103
Yes. You are correct in your understanding of the above setup.

[2022-06-13 20:24] matteotenca commented on #103
Thank you. Maybe you can add this infos in the documentation, since it's a nice and interesting approach to `rapiddisk`! I believe this issue can be closed!

Regards

[2022-06-14 01:24] #103 closed

[2022-06-16 20:43] juanpc2018 opened #104 "bad news Kubuntu 21.10 latest kernel 5.13.0.51"
Rapiddisk Standard 8.1.0
Not -edge for pearOS.

Mac mini 2014 8gb,

the main reason for Rapiddisk was to create a Ramdisk, to store IP camera videos and stills,
Next day, view if there is something and Delete the rest without wear to HDD or SSD,

problem
iSpy "AgentDVR" software for IP cameras,
Video Decode CPU load is very high, 40%
Intel iHD VA-API drivers does Not do HW decoding acceleration.

[2022-06-16 21:31] #104 closed

[2022-06-17 01:49] matteotenca opened #105 "Add a flag to remove the header from rapiddisk output"
Hello @pkoutoupis ,
It would be handy to add a flag to avoid the header from the `rapiddisk`'s command output. This is especially useful when using the `-j` options, since the text header printed before the json data breaks correct parsing of the json data itself (#102).

I prepared a diff from the `master` branch with an implementation of this flag, attached to this message. Here it is:

[code]
[

[2022-06-20 14:51] pkoutoupis commented on #105
This will break the version print arg:
[code]
Unless we repeat it here or wrap it into its own function and call it the two times it is needed.

[2022-06-20 21:30] matteotenca commented on #105
This may be a solution (brutal):

[code]

Well, if this becomes too hard and causes troubles to future enanchements you already have in mind, let's drop it!

Regards

[2022-06-21 13:16] betawaffle opened #107 "Questions from TORmem"
This is not really an issue, more of a discussion. I not sure if there's a better venue for this. If there is, let me know.

First, a bit of context: I work at [TORmem](https://github.com/tormem), and we have a tiny fork of rapiddisk with [modifications to the main kernel module](https://github.com/tormem/rapiddisk/pull/1/files) to suit our use-case. I made these changes myself, and I'm definitely

[2022-06-21 14:56] pkoutoupis commented on #107
@betawaffle A few things:
1.  This is a perfectly fine place to initiate this discussion.
2. Thank you very much for your (and your company's) interest in my project. I find it both exciting and reassuring that you are all able to make good use of my project.
3. Due to my chaotic schedule, it may take a little bit of time, but of course I will take a look at the changes you made and consider pulli

[2022-06-23 08:20] matteotenca commented on #105
@pkoutoupis #108

[2022-06-23 13:27] pkoutoupis commented on #105
https://github.com/pkoutoupis/rapiddisk/pull/108 has been validated and merged. Thank you!

[2022-06-23 13:27] #105 closed

[2022-06-23 13:40] pkoutoupis commented on #107
@betawaffle most of it seems like it can be done, although I will need to relocate the number assignment into userspace. The only thing that requires a discussion is the output of `rapiddisk/mgmt`. I have a thought on that. I will put together a pull request in the coming days and we can work through that to ensure that you get what you need and with as little disruption to existing users.

[2022-06-23 13:41] betawaffle commented on #107
Thanks, sounds great!

[2022-06-25 16:48] pkoutoupis commented on #107
@betawaffle This is a mockup and won't reflect the end result but would this help you?
[code]
This way, you can get something parsable while we can continue to retain the other module information. Thoughts?

[2022-06-25 18:03] betawaffle commented on #107
It might work if I know how many lines to skip. My worry with that is it might be fragile. If we decided to add more info to the output later, it would break the code reading from it. That could be avoided if we settle on a well-defined structure to the output, and I could just parse all of it. Something like:

[code]

We'd have to actually define all the details to make it reliably parsable.

Ano

[2022-06-25 20:32] matteotenca opened #109 "Showing stats in a graphical layout via php/apache"
Hello,

not an issue, but an idea: use `rapiddiskd` and (for example) a web server + PHP to show `rapiddisk`'s statistics in a fashonable way. `ncurses` may be used too, in a command line tool, same idea, different approach.
The objective is to show a real-time graph of the changing stats for a device. But to be honest I don't understand the exact meaning of many of the values - when/if you have t

[2022-06-26 15:43] pkoutoupis commented on #107
If we stick with a format/structure like this (and I can make it more formal and better documented in the project wiki):
[code]
We can easily parse it as so, regardless of how much info we decide to add before it:
[code]
Unless I am misunderstanding something.

[2022-06-26 15:46] betawaffle commented on #107
I'm parsing it from rust, so it's slightly more difficult than that :stuck_out_tongue:

[2022-06-26 16:00] pkoutoupis commented on #107
So, a new file like this?
[code]

[2022-06-26 16:55] betawaffle commented on #107
That would work, yeah.

[2022-06-27 13:26] pkoutoupis commented on #107
Sounds good. I have been testing the changes being made as I go along. I just need to wrap up with the "attach" logic in the user space utility and then I will open the PR for review with the details. I am hoping tonight or tomorrow.

[2022-06-29 13:08] pkoutoupis commented on #107
@betawaffle I pushed another update. Go for it.

[2022-06-29 13:55] betawaffle commented on #107
Ok, did a bit of testing. Here are some findings:

- The size reported by `devices` is always zero.
- The default mentioned on [line 97](https://github.com/pkoutoupis/rapiddisk/compare/pkoutoupis:a509fe4...pkoutoupis:79dd427#diff-93123f8261a5700c992d3dc93cfb9bed872469dd18db46a3a58033eb78ea4514R97) doesn't seem to agree with `MAX_RDSKS`.
- It _seems_ to double the size specified in the `attach` com

[2022-06-29 14:43] pkoutoupis commented on #107
I fixed the following and will push soon:
- The default mentioned on [line 97](https://github.com/pkoutoupis/rapiddisk/compare/pkoutoupis:a509fe4...pkoutoupis:79dd427#diff-93123f8261a5700c992d3dc93cfb9bed872469dd18db46a3a58033eb78ea4514R97) doesn't seem to agree with MAX_RDSKS.
- [Line 750](https://github.com/pkoutoupis/rapiddisk/compare/pkoutoupis:a509fe4...pkoutoupis:79dd427#diff-93123f8261a5700

[2022-06-29 14:51] betawaffle commented on #107
I'm passing bytes, since that's the easiest to understand, and it's consistent. Some other options I rejected:

- Sectors, since they are _usually_ 512 bytes, but... not always?
- Kibibytes, since then you couldn't create a... one sector device (heh).
- Mibibytes, for the same reason. It limits how small the device can be.

Anyway, the desired behavior is, userspace asks for bytes, and they get a

[2022-06-29 19:21] pkoutoupis commented on #107
Pushed new code. Let me know how it looks.

[2022-06-30 11:12] betawaffle commented on #107
Everything works and looks good to me! I'll see what needs to change in my API code, but we should be able to proceed with this. Thanks!

[2022-06-30 11:37] betawaffle commented on #107
One more question, how confident are you nobody else is depending on the old format of `mgmt` commands?

[2022-06-30 12:52] pkoutoupis commented on #107
I thought about the same thing. I will need to document it in changelog, release posts and project wiki. Although, most that use it, I believe utilize the userspace utility that accompanies the modules which would essentially make this a non-issue.

[2022-06-30 12:53] pkoutoupis commented on #107
Oh, and I want to run a few more tests before I officially merge it into master, which will be soon.

[2022-06-30 12:54] betawaffle commented on #107
There is a way you could remain backwards compatible, but it would be a lot of extra work. Basically, use the `rapiddisk` prefix of the command for versioning. `rapiddisk` would remain the old format, `rapiddisk-v2` would be the new format.

Not sure it's worth the trouble.

[2022-06-30 13:07] pkoutoupis commented on #107
I wouldn't be worth it IMHO. I will just need to make sure to document it really well.

[2022-06-30 13:16] pkoutoupis commented on #82
@singlecheeze Hello. I am going through the open tickets and wanted to follow up on this.

[2022-06-30 14:56] singlecheeze commented on #82
@pkoutoupis I tried to do some benchmarking with SPDK but it was very unstable: https://gist.github.com/singlecheeze/0bbc2c29a5b6670887127b93f7b71e3f

Additionally with the Broadcom announcement and VMware, I'm moving away from VMware and looking at other hypervisors, namely XCP-ng which is Debian based I believe so maybe we could do an NVMe over TCP plug-in for that.

Any any case I think this on

[2022-07-01 13:06] pkoutoupis commented on #107
Merged the code to master (https://github.com/pkoutoupis/rapiddisk/pull/110). Closing ticket.

Also, @betawaffle, can you please e-mail me at petros AT petroskoutoupis DOT com (_I enjoy seeing folks use my code and am intrigued to learn more_)?

[2022-07-01 13:06] #107 closed

[2022-07-01 13:08] pkoutoupis commented on #109
@matteotenca This is next on my TODO list (i.e. documenting these fields) but am intrigued to learn more about this graphical piece. It would be neat.

[2022-07-02 07:14] matteotenca commented on #109
@pkoutoupis Thank you for the informations. I'm writing a PHP app using some JS libraries to show graphs etc. I want to write a PHP interface (webserver involved) and a Python CLI tool using `curses` (never done this before, have to study).

I'm attaching two screenshots.

Regards

![2022-07-02 09_08_07-RapidCurse – Mozilla Firefox](https://user-images.githubusercontent.com/93343338/176990742-f932

[2022-07-02 14:45] pkoutoupis commented on #109
Updated Wiki to include stats description: [https://github.com/pkoutoupis/rapiddisk/wiki/Miscellaneous#understanding-the-rapiddisk-cache-statistics](https://github.com/pkoutoupis/rapiddisk/wiki/Miscellaneous#understanding-the-rapiddisk-cache-statistics) and added you to the PR: https://github.com/pkoutoupis/rapiddisk/pull/111

Also, the mockups look neat. Thank you for experimenting and doing this

[2022-07-29 23:49] juanpc2018 opened #113 "some .sh ideas to include in next release."
$ ./ramdisk-xfs-2gb.sh
[code]

-------------

./ramdisk-cache-xfs-2gb.sh

[code]

--------------

./ramdisk-off.sh
[code]

-------------

./ramdisk-unmap.sh

[code]
--------------

./uninstall-rapiddisk.sh

[code]

-----------------

./reinstall-rapiddisk-a.sh

[code]

-------------

./reinstall-rapiddisk-b.sh

[code]

----------------

./reinstall-rapiddisk-c.sh

[code]

--------

./ramdisk-ntfs-

[2022-07-31 14:21] pkoutoupis commented on #113
@juanpc2018 I would be more than happy to include these if you create a pull request with the scripts in the `scripts/examples` subdirectory (you are going to need to create it from the root of the repo).

[2022-08-03 20:13] andriusst opened #117 "libjansson.so.4 not found"
When running sudo rapiddisk I get the error message

`rapiddisk: error while loading shared libraries: libjansson.so.4: cannot open shared object file: No such file or directory`

 I built this from source on Clear Linux. ld did have some trouble locating libjasson.so file but I created some links and that did the trick. I built jasson-2.13.1 from source too but it looks like it didn't create its

[2022-08-04 00:17] pkoutoupis commented on #117
To answer your question, rapiddisk does not expect libjansson to be in any specific directory. It relies on the underlying system to make the library accessible. Have you run an `ldconfig` after the installation?

[2022-08-05 11:56] andriusst commented on #117
Yes, that was it! Thank you for a quick response!

[2022-08-05 11:56] #117 closed

[2022-08-05 12:13] andriusst opened #118 "rapiddisk vs tmpfs: file read/write speed"
The reason I found rapiddisk is I am looking for a ramdisk faster than tmpfs/ramfs. Benchmarking rapiddisk rd0 device shows great results (above 10GB/s throughput) both read and write but once I put file system on it and start reading writing files I get much worse performance (around 2GB/s) which is even worse than tmpfs. I suspect this is because files become subject to buffering/caching, plus f

[2022-08-05 12:41] pkoutoupis commented on #118
What file system are you placing on the ram drive and what performance utility are you using to benchmark?

[2022-08-06 13:12] pkoutoupis commented on #118
So, when benchmarking a block device or a filesystem, dd is typically not the utility to use. When it writes/reads to/from a target, it is a single threaded / single stream synchronous I/O operation. Throw a file system into the picture and then it further complicates things. A good utility to use for benchmarking (one that I rely on quite heavily) is the industry standard [fio (or Flexible I/O)](

[2022-08-07 17:16] pkoutoupis opened #119 "Need to check return on nvme target hostnqn script."
[code]

[2022-08-07 20:29] pkoutoupis commented on #119
Fixed with https://github.com/pkoutoupis/rapiddisk/pull/120.

[2022-08-07 20:29] #119 closed

[2022-08-12 11:34] Augusto7743 opened #122 "Which are the commands used when creating the wb cache for disk partitions ?"
Hello Petros Koutoupis. All right with you ?
Users need know Rapiddisk.
I have been using more than one year and works very good. Amazing tool.

The only problem is when doing writeback in an BTRFS disk not being related with Rapiddisk.
When cache is full is done an flush in the disk, but in sometimes is an partial written.
That action can damage an BTRFS partition with the error "parent transid v

[2022-08-13 13:35] unoffices opened #124 "Build not working -- jansson.h: No such file or directory"
.

[2022-08-13 13:43] unoffices commented on #124
.

[2022-08-13 13:43] #124 closed

[2022-08-13 13:56] pkoutoupis commented on #122
@Augusto7743 This is a very tricky process and one of the main reasons why I was hesitant on implementing a writeback cache in RAM. I assume that you went through the notes by @matteotenca here: https://github.com/pkoutoupis/rapiddisk/issues/86.

Can you please provide more details on the events or actions that led you to this corruption? Maybe also distro/version/kernel.

[2022-08-13 13:57] pkoutoupis commented on #118
@andriusst Hello. Any updates or thoughts on my latest reply? Anyway, have a wonderful weekend.

[2022-08-14 10:35] Augusto7743 commented on #122
Thanks very much for your reply.

I had posted
https://github.com/pkoutoupis/rapiddisk/issues/86
about how create an correct script to flush all writeback caches before OS shutdown.

I have used your amazing Rapiddisk using wb in /root , /home and /opt since when feature wb was added in RapidDisk.
I had created 3 BTRFS partitions for test and after reporting in the project. I can restore both part

[2022-08-15 12:44] pkoutoupis commented on #122
OK. Based on what I am reading, I think this is more related to https://github.com/pkoutoupis/rapiddisk/issues/62 and the ability to configure the dm-writeback parameters.

[2022-08-15 23:34] andriusst commented on #118
Hi and thank you for the time you spent doing the benchmark to give the results. My simple test  was not a great way to get an accurate speed test result but it echoed my observations on the real life multi-threaded application I run. So that is why I was looking for suggestions how I can speed things up with rapiddisk. The application is madmax chia-plotter. It generates a large data set and is I

[2022-08-15 23:37] Augusto7743 commented on #62
Thanks for replying.

OS boot log reference for dm-writeback 0 (root 128 MB), 1 (home 256 MB) and 2 (opt 8 MB)

[    7.357681] kernel: BTRFS info (device dm-0): flagging fs with big metadata feature
[    7.365690] kernel: BTRFS info (device dm-0): has skinny extents

[   14.253692] kernel: BTRFS info (device dm-1): flagging fs with big metadata feature
[   14.253707] kernel: BTRFS info (device dm-

[2022-08-16 14:12] pkoutoupis commented on #62
@Augusto7743 Are we going to use this issue number to track it and close https://github.com/pkoutoupis/rapiddisk/issues/122?

[2022-08-16 17:01] matteotenca commented on #118
@andriusst Hi there, maybe you can try mixing write around and writeback modes, using `rapiddisk`. I am far away from your speed needs, but this combination made a linux installation placed on an not-so-recent mechanichal drive a lot faster - changed from unusable to quite decent, especially after a short while using the desktop thanks to the WA cache. I can't produce numbers now, but you can give

[2022-08-16 17:13] matteotenca commented on #122
@Augusto7743 @pkoutoupis I suggest Augusto to try the approach I tried to detail here (link to the specific message):

https://github.com/pkoutoupis/rapiddisk/issues/86#issuecomment-1151929994

This is the only way I found to avoid filesystem corruptions while using write back mode on the main root volume upon shutdown.
If you can find some time to try this approach, we can gather some more infos.

[2022-08-16 21:10] andriusst commented on #118
@matteotenca Hi and thank you for ideas. So write-around and write-back modes, do they relate to physical disk caching rather than ramdisk component, correct? I will give it a try to see if caching the disk will be faster than working entirely on a ramdisk. Although linux has file system caching anyway, I found increasing vm_dirty_background_ratio and vm.dirty_ratio speeds up the writes, especiall

[2022-08-17 01:09] Augusto7743 commented on #62
Yes.

[2022-08-17 01:13] Augusto7743 commented on #122
Thanks for replying.
Script running before when ""File System Pre" is stopped is the solution.
The correct is figure what is the name used for "File System Pre".

[2022-08-17 19:06] andriusst commented on #118
Just wanted to share some test results. All the same parameters, except the -size and -direct. With -size=10m test completes very quickly and results are not consistent between several runs so I increase -size to 1000m or even 10000m this produces very repeatable results.

ramfs:     READ: bw=16.6GiB/s   WRITE: bw=2473MiB/s  (direct=0)
/dev/rd0: READ: bw=17.5GiB/s   WRITE: bw=12.0GiB/s   (direct=1

[2022-08-17 19:22] pkoutoupis commented on #118
@andriusst Thank you for sharing these numbers. Can I ask what the general fio command looked like?

[2022-08-17 19:39] andriusst commented on #118
@pkoutoupis
`sudo fio --bs=4k --ioengine=libaio --iodepth=32 --size=1000m --direct=1 --runtime=60 --filename=/mnt/rd/test.tmp --rw=randwrite --name=test --numjobs=8 --group_reporting`

[2022-08-17 20:28] pkoutoupis commented on #118
Hmm. Interesting. You are in fact writing twice, to "two separate regions on disk (albeit in RAM)" for a single write request because Ext4 **is** a disk file system. Although, I did not expect the performance to be half. In my testing shared above, it was less but only by 30%. I wonder though, if it will help to adjust certain mount options, like the commit interval (default 5 seconds) to somethin

[2022-08-17 21:11] andriusst commented on #118
sure, my pleasure. It did not like the commit=60 option so mounted only with -o noatime,nodiratime
rd0,ext2   READ: bw=7401MiB/s   WRITE: bw=6832MiB/s (direct=1)
rd0,ext2   READ: bw=8879MiB/s   WRITE: bw=1845MiB/s (direct=0)

[2022-08-17 21:42] pkoutoupis commented on #118
Yes, the commit option will only work on ext3/4. Thank you for running those tests. What baffles me most are the reads. Your directio writes look great (while the buffered are 25% less). But the reads are half which I do not understand. I am not entirely sure what your application will look like. Is it read or write intensive or just a good mix of both?

[2022-08-18 17:17] andriusst commented on #118
the application is 50%/50%. Most of the time there are 8 threads running concurrently and each threads does reads and writes are fairly sequentially. I tried it with 16xRAID0 (native BTRFS raid) 15K rpm disks and seen total I/O peak at 2.5GB/s. Now that I have enough RAM to fit the entire workload in ramfs it completes the cycle about 20% faster. So if we can extrapolate disk I/O from that it woul

[2022-08-21 17:22] pkoutoupis commented on #14
There does not seem to be an interest or any motivation to implement this. If there are any interested SUSE users who are able to help out with this, we can always reopen. Currently, openSUSE support utilizes dkms.

[2022-08-21 17:22] #14 closed

[2022-08-27 15:16] marsalans opened #128 "How to erase/flush cashe only ?"
rapiddisk -f not working

[2022-08-27 19:22] pkoutoupis commented on #128
@marsalans Hello. This is fixed in this pull request: https://github.com/pkoutoupis/rapiddisk/pull/123. It should be merged into the master branch. soon.

[2022-09-13 02:12] matteotenca opened #130 "Ultra small issue In daemon.c with realpath() call"
Hi,

using valgrind and compiling rapiddiskd with `-Og -g -Wl,--export-dynamic -gdwarf` options, I found out that `rapiddiskd` can't start:

[code]

So, I passed it to valgrind:

[code]

The pieces of code involved are:

https://github.com/pkoutoupis/rapiddisk/blob/2e1f8a18a61bd31ca61489c38cf139746d25a2ca/src/daemon.c#L152-L156

and:

https://github.com/pkoutoupis/rapiddisk/blob/2e1f8a18a61bd31ca6

[2022-09-16 12:57] pkoutoupis commented on #130
I have got a big change that I want to merge tomorrow (or maybe Sunday): https://github.com/pkoutoupis/rapiddisk/pull/123. Once I merge that, I will address this ticket with a couple of low lying adjustments in another PR which I will add you and then I will dive back to the first and much larger set of memory leaks in your PR. As always, thank you so much for your help! :-D

[2022-09-17 13:37] pkoutoupis commented on #128
This fix has been merged into master. Thank you for your help and interest in the project.

[2022-09-17 13:37] #128 closed

[2022-09-17 14:42] marsalans commented on #128
Thanks.

[2022-09-18 04:29] matteotenca commented on #130
You're welcome!

[2022-09-24 05:10] Augusto7743 commented on #122
@matteotenca
Yes ... using dmwriteback in root volume avoid problems . However need figure as configure correctly writeback shutdown in multiple volumes.
I see "file system pre" not is an systemd service.
The command to flush need run before target "file system pre".

[2022-09-24 13:01] #130 closed

[2022-10-02 10:52] Augusto7743 opened #133 "warning: the compiler differs from the one used to build the kernel"
Trying compile rapiddisk-8.2.0.
When doing make not is possible complete the compilation.
Ubuntu 20.04.5 with kernel updated to 5.19.12
Any way to change the makefile ?

----

make -C src
make[1]: Entering directory '/tmp/3/rapiddisk/src'
cc -c json.c -o json.o
cc -c rdsk.c -o rdsk.o
cc -c nvmet.c -o nvmet.o
cc -c sys.c -o sys.o
cc main.c -o rapiddisk json.o nvmet.o rdsk.o sys.o -ljansson
cc -c js

[2022-10-02 12:38] pkoutoupis commented on #133
Looks like I will need to add support for this kernel. I should have something soon.

[2022-10-02 12:47] Augusto7743 commented on #133
All good with you ?
Thanks for using your time reading and replying.
I will try compile in another installed OS and after installing in 5.19.12.
In few days will be released the kernel 6.00.
Have any way to remove or change any line in makefile to avoid checking kernel or gcc version ? That detail is important ?

[2022-10-02 13:42] Augusto7743 commented on #133
Not way ... compiled in another OS and trying in 5.19.12 not work.

[2022-10-02 17:57] pkoutoupis commented on #133
It needs an update in the code for the kernel. I am sorry. I promise I will push new code soon. Thank you.

[2022-10-03 17:07] pkoutoupis commented on #133
Where are you getting the 5.19 kernel? I installed 20.04.5 (mentioned in your description) and it still uses 5.4. Are you using a specific repo?

[2022-10-03 18:27] pkoutoupis commented on #133
Also, what version of rapiddisk are you running, because the latest supports 5.19 and is part of the rapiddisk master branch? It was merged in August: https://github.com/pkoutoupis/rapiddisk/commit/9d243d9df64c4268f18eb445a11884a6df40254d

[2022-10-03 22:16] Augusto7743 commented on #133
Hello.

Ubuntu 20.04.5 use kernel 5.15.
https://lubuntu.me/blog/

Rapiddisk latest 8.2.0
Starting OS using alternate kernel 5.15 is possible make and sudo make install for Rapiddisk.

Kernel update from
https://launchpad.net/~tuxinvader/+archive/ubuntu/lts-mainline?field.series_filter=focal

Today was released the kernel 6.00.

[2022-10-04 15:38] TuxInvader commented on #133
I can confirm that the compiler is the same version, I think the architecture prefix to the binary name is a quirk of the launchpad build system? It was just a warning anyway.

@pkoutoupis I can also confirm that the master branch is able to build the kernel module successfully with the 5.19.12.

[code]

@Augusto7743 - you'll need to build rapiddisk by cloning the git repo, the 8.2.0 release didn'

[2022-10-04 16:00] pkoutoupis commented on #133
@TuxInvader Thank you for confirming! I will add support for 6.0 in the next couple of days.

[2022-10-04 21:01] pkoutoupis commented on #133
If you need an immediate [but untested] patch for 6.0, here:
[code]

[2022-10-04 23:53] Augusto7743 commented on #133
In moment creating an custom ISO integrating 5.19 and 6.00 for testing.
I will test using the master build.

[2022-10-05 00:10] pkoutoupis commented on #133
Please note that I have not pushed or merged the 6.0 patch yet. It is something you will need to manually apply until I do, if you wish to test it yourself.

[2022-10-05 07:48] Augusto7743 commented on #133
Rapiddisk compile in 5.19.12.
Not is possible install nvidia driver 470 both binary and metapackage in 6.00 too.

Only for test and report any issues with current master.
How you have replied above need apply the patch.
I had tried some git command and even adding manually in rapiddisk-cache.c the lines below after of line
#if LINUX_VERSION_CODE >= KERNEL_VERSION
related with kernel 4
not is possi

[2022-10-05 13:23] pkoutoupis commented on #133
@Augusto7743 No worries. I have pushed a branch: `feature/add_6.0_support` (https://github.com/pkoutoupis/rapiddisk/tree/feature/add_6.0_support)
If you do a `git pull` on `master` and then do a `git checkout feature/add_6.0_support` (and verify with `git branch`). You should have this patch to test with on 6.0.

[2022-10-10 12:40] pkoutoupis commented on #133
OK. I merged this into master: https://github.com/pkoutoupis/rapiddisk/pull/134. Closing ticket. Thank you for everyone's assistance in this.

[2022-10-10 12:40] #133 closed

[2022-10-10 14:36] Augusto7743 commented on #133
Thanks very much.
Have an nice week.

[2022-10-18 17:34] Augusto7743 commented on #133
Your amazing software in Kernel 6.00 works very well.
I will post an topic about my test in doing an correct wb flush in OS shutdown.
I wish for you and users an good week.

[2022-10-18 17:58] pkoutoupis commented on #133
@Augusto7743 that is great to hear (all of it) and you too.

[2022-10-25 01:07] lcmj520 opened #136 "Does it support creating RAM disk without "sudo" or "root" privilege?"
You know, as a user in CentOS cluster with slurm, no one has the privilege of "sudo". We cannot use "sudo apt install ..." or "mount  -t tmpfs -o size=1G tmpfs ./MyTmp".

So, does it support creating RAM disk without "sudo" or "root" privilege?

Thanks a lot.

[2022-10-25 07:43] lcmj520 opened #137 "how to install rapiddisk when jansson and libmicrohttpd was not install in /usr?"
The jansson and libmicrohttpd was install in /home/MyUser/jansson and /home/MyUser/libmicrohttpd respectively.

Then, I added the environments below to /home/MyUser/.bashrc:

#/home/MyUser/jansson
export C_INCLUDE_PATH=/home/MyUser/janssion/usr/local/include:$C_INCLUDE_PATH
export CPLUS_INCLUDE_PATH=/home/MyUser/janssion/usr/local/include:$CPLUS_INCLUDE_PATH
export LIBRARY_PATH=/home/MyUser/janssi

[2022-10-25 12:48] pkoutoupis commented on #136
@lcmj520 Unfortunately, sudo or root privileges are required as sysfs write access is needed.

[2022-10-25 12:57] pkoutoupis commented on #137
@lcmj520 Please describe the build environment. Are only these two libraries and their headers in the "MyUser" home directory and you are relying on the system for everything else?

[2022-10-26 01:27] lcmj520 commented on #136
Oh my god! It seems everything I tried before is all in vain!
![ZAI$49WXAXCY3`B$IHIQN7E](https://user-images.githubusercontent.com/69440987/197912895-145fd03d-5992-42f3-a567-6f6270deddc3.png)

Thanks a lot for your reply ....

[2022-10-26 12:35] #136 closed

[2022-10-31 11:56] alexmyczko opened #138 "New release?"
Do you plan a new release within the next two months?

[2022-10-31 12:42] pkoutoupis commented on #138
Yes. I will have a new release cut within the next month.

[2022-11-02 07:01] matteotenca commented on #137
The current `Makefile` does not consider external variables, but `CC`. So you can try this:
[code]

[2022-11-05 12:44] pkoutoupis commented on #118
@andriusst Were we able to get the answers we were looking for and if so, can we close this issue? Thank you.

[2022-11-05 12:45] pkoutoupis commented on #138
I will close this issue, as there is nothing else to do here. A new release will be coming very soon. Likely as soon as #139 gets merged.

[2022-11-05 12:45] #138 closed

[2022-11-05 12:47] pkoutoupis commented on #137
@lcmj520 I know you were looking to build this suite and use with non-root access but did @matteotenca answer your question and if so, can we close this issue.

@matteotenca I think I will add your instructions into the Wiki. Thank you!

[2022-11-05 16:25] andriusst commented on #118
Thank you and everyone else for ideas and suggestions. I given up on looking for answers and abandoned this approach.

[2022-11-05 16:25] #118 closed

[2022-11-16 14:21] pkoutoupis commented on #137
I will close this issue now since @matteotenca offered a temporary workaround. He is currently working on implementing this functionality in an update to a current PR https://github.com/pkoutoupis/rapiddisk/pull/139.

[2022-11-16 14:21] #137 closed